// Basics

$background_color: #EFEFEF;

//header 
$overview_bottom: #D14529;
$overview_top: #F14A30;

// Dark levels
$darkest:          #000000;
$uber_dark:        #222222;
$ultra_dark:       #333333;
$medium_dark:      #666666;
$dark:             #999999;
$gray:             #cccccc;
$subtle_gray: 		 #dedede;
$light_gray:       #f1f1f1;
$brightest:        #ffffff;
$error_color:      #FF3300;

// Bars
$percentage_bar: 	 #3ec05c;

// Links
$link_color:       #0099CC; // blue
$dark_link_color:  #0079A2; // dark blue
$hover_link_color: #005E7D; // dark blue
$email_color:      #04A531; //green

// Other
$selection_color:  #6ebd61;
$border_color:     #e0e0e0;
$highlighted:      #FFFFCC;
