

#header {
    #tools {
        #work_toolbar {
           display: inline-block;
           width: 200px;
           #selection {
              width: 90px;
           }
        }
    }
    #date_range_select {
       display: inline-block;
       width: 200px;
       float: right;
       margin:10px 263px 0 0;
       position: relative;
       padding: 10px;

       a {
            font:bold 13px $text_font;
            color:white;
            text-shadow:0 1px black;
            padding:0 30px 3px 4px;
            text-decoration:none;
            &#select {
                background:url('../img/icons/range.png') no-repeat right 0;
            }
       }
       &:hover {
           background: url('../img/bkg_time_range_over.png') no-repeat -4px -7px;
           #range_selector {
              /* don't use display:none/block combo here
               * jquery offset does not work with hidden elements
               * so this hack solves the problem */
              visibility:visible;
           }
       }
       #range_selector {
           background: url('../img/bkg_time_range.png') no-repeat -2px 39px;
           width: 378px;
           height: 148px;
           top: -11px;
           left: -215px;
           /*display:none;*/
           /* don't use display:none/block combo here
           * jquery offset does not work with hidden elements
           * so this hack solves the problem */
           /*visibility:hidden;*/
           position: absolute;
           #range_info {
               position: absolute;
               top: 60px;
               left: 20px;
               h3 {
                    font:normal 10px $text_font;
                    color: #777;
                    text-transform: uppercase;
                    text-shadow: #000 0px 1px 0px;
                    margin-bottom: 2px;
               }
               input {
                    background-color: #404040;
                    width: 49px;
                    border-radius: 2px;
                    border: 1px solid #000;
                    font:normal 11px $text_font;
                    color: #CCC;
                    padding: 2px 3px;
                    margin-bottom: 6px;
               }
           }
       }

    }


    #overview {
        background: -webkit-gradient(linear, left top, left bottom, from(#39AD39), to(#2D872C));
        h3 {
          background:url('../img/icons/padlock.png') no-repeat 0 2px;
          color: rgb(196, 229, 196);
          font:bold 13px $text_font;
          text-shadow: #133D13 0px 1px 0px;
        }

        div.info {
          margin-top: 35px;
          p {
            color:#133D13;
            text-shadow:0 1px #47DE44;
            background:url('../img/icons/marker_overview_green.png') no-repeat 0 2px;
          }
        }
        div.analysed {
          button.finish_button {
            box-shadow:0 1px rgb(60, 184, 58);
          }
          p {
              padding:1px 0 0 0;
              font:bold 12px $text_font;
              color:#333333;
              text-shadow: #FFF 0px 1px 0px;
              text-transform:uppercase;
              text-align:center;
          }
        }
    }
}
