#header {
    z-index: 19;
    @mixin box-shadow {
        -webkit-box-shadow: 0px 0px 10px #000;
    }
    @include box-shadow;
    text-align: center;
    a {
        color: white;
    }
    
    .hidden {
        display: none;
    }

    .content {
        position: relative;
        text-align: left;
        width: 1024px;
        margin:0 auto;
    }

    #title {
        background: url('../img/title_bkg.png');
        border-bottom: 1px solid #000;
        color: white;
        padding: 0 0 25px 0px;
        h1 {
            font-family: $font_title;
            letter-spacing: 1px;
            font-size: 16px;
            margin: 0;
            padding: 0;
        }
        h2 {
            font-size: 16px;
            .small {
                font-size: 11px;
            }
        }
        #intro {
            padding-top: 27px;
        }
    }
    #tools {

        background: url('../img/tools_bkg.png');
        height: 59px;
        color: white;

        #range_select {
            padding-top: 20px;
            color: #CCC;
            #selected_range {
                color: white;
                font-weigth: bold;
            }
        }

        @mixin buttonize {
            a {
                background: #28292D;
                padding: 3px 8px;
                &:hover {
                    background: #1B1B1C;
                }
                text-decoration: none;
            }
            .selected  {
                    background: #0B0B0C;
            }
        }
        #work_toolbar {
            padding-top: 20px;
            ul, li {
                display: inline;
            }
            #selection {
                @include buttonize;
            }
            #polytype {
                @include buttonize;
                margin-left: 10px;
            }
        }

        #maptools {
            
            $bkg_slider: #232427;
            margin-left: 200px;

            #range:hover #slider_wrapper{
                display: block;
            }

            #range:hover {
                background: $bkg_slider;
            }
            #range {
                position: relative;
            }
            #slider_wrapper {
                @include box-shadow;
                z-index: 20;
                display: none;
                padding: 20px;
                width: 250px;
                position: absolute;
                left: -175px;
                font-size: 8px;
                background: $bkg_slider;
            }
        }
    }

    #overview {
        z-index: 10;
        $padding: 20px;
        width: 238px - 2*$padding;
        height: 152px - 2*$padding;
        padding: $padding;
        position: absolute;
        right: 30px;
        top: 0;
        background: -webkit-gradient(linear, left top, left bottom, from($overview_top), to($overview_bottom));
        #done {
            margin-top: 20px;
            background: #CCC;
            padding: 5px 10px;
            display: block;
        }

    }
}
