@import 'mixins';

body, html {
    height: 100%;
    overflow: hidden;
}

#workarea{
    position: absolute;
    width: 100%;
    top: 144px;
    bottom: 0;

    .map_container {
        position: absolute;
        width: 100%;
        height: 100%;
        .map {
            width: 100%;
            height: 100%;
        }

        div.layer_editor {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        div.zoom_control {
          position:absolute;
          top:20px;
          left:20px;
          width:22px;
          height:44px;
          z-index:10;

          a {
            display:block;
            width:22px;
            height:22px;
            text-indent:-9999px;
            background:url('../img/icons/zoom.png') no-repeat 0 0;
            &.zoom_in {
              &:hover {
                background-position:0 -22px;
              }
            }
            &.zoom_out {
              background-position:-22px 0;
              &:hover {
                background-position:-22px -22px;
              }
            }
          }
        }
    }
}



#layer_editor_dialog {
    $h: 254px;
    position: absolute;
    width: 187px;
    height: $h;
    z-index: 20;
    display: none;
    background:url('../img/bkg_layer_editor.png') no-repeat 0 0;

    .jspVerticalBar{
        right: 13px;
    }

    #layer_top {
        position: absolute;
        top: 11px;
        left: 11px;
        z-index: 20;
        -webkit-border-top-right-radius: 3px;
        -webkit-border-top-left-radius: 3px;
        -moz-border-radius-topright: 3px;
        -moz-border-radius-topleft: 3px;
    }
    #layer_bottom {
        position: absolute;
        top: 229px;
        left: 11px;
        z-index: 20;
        -webkit-border-bottom-right-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -moz-border-radius-bottomleft: 3px;
    }
    ul {
        position: relative;
        top: (254px - 232px)/2;
        left: (187px - 165px)/2;
        height: 232px;
        width: 165px;
        overflow:hidden;

        li {
            width: 133px;
            $fontsize: 13px;
            font-size: $fontsize;
            color: #626262;
            padding: 20 - $fontsize/2  0 20 - $fontsize/2 23px;
            /*margin-left: 18px;*/
            border-top: 1px solid #FBFBFB;
            border-bottom: 1px solid #CFCFCF;
            background: url('/static/img/tick_unselected.png') no-repeat 10px 16px;

            &:first-child {
                border-top: none;
            }

            &:last-child {
                border-bottom: none;
            }

            &.selected {
               background:url('/static/img/tick_selected.png') no-repeat 10px 16px;
            }

            &.moving {
                background-color: #E7E7E7;
                box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
            }

            &:hover a {
              color:#333333;
            }

            a {
              display:block;
              width:100px;
              padding-right: 20px;
              font:normal 13px "Helvetica Neue";
              color:#666666;
              text-shadow:0 1px white;
              text-decoration:none;
              background:url('/static/img/bkg_layers_drag.png') no-repeat 111px 5px;

              &:hover {
                color:#333333;
              }
            }
        }
    }
}

#loading_small {
    position: absolute;
    left:100px;
    bottom:-171px;
    width: 168px;
    height: 30px;
    background-color: #FFF;
    /*border: 3px solid rgba(0, 0, 0, 0.4);*/
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    /*display: none;*/
    z-index:10;

    span.loader {
      display: block;
      font: normal 13px $base;
      img {
            float: left;
            padding: 5px 0 0  5px;
      }
      p {
        padding: 5px 0 0 8px;
        display: inline-block;
      }
    }
}
#loading {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;

    background:rgba(0,0,0,0.4);
    display: none;
    z-index:10;

    span.loader {
      $w: 221px;
      $h: 97px;
      position:absolute;
      top:50%;
      left:50%;
      margin:-$h 0 0 (-$w/2);
      width: $w;
      height: $h;
      @include border-radius(2px);
      background-color: #FFF;
      box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
      h1 {
        text-transform: uppercase;
        margin: 16px 0 0 20px;
        font:bold 13px $DroidSans;
        color: #333333;
      }
      p {
        font:normal 13px $text_font;
        margin: 4px 0 0 20px;
        color: #333333;
      }
      img {
        margin: 10px 0 0 20px;
      }
    }
}

#error_dialog {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;

    background:rgba(0,0,0,0.4);
    display: none;
    z-index:10;

    span.error_desc{
      $w: 340px - 20px;
      $h: 170px;
      position:absolute;
      top:50%;
      left:50%;
      margin:-$h 0 0 (-$w/2);
      width: $w;
      /*height: $h;*/
      @include border-radius(2px);
      background-color: #FFF;
      box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
      padding: 20px;
      h1 {
        text-transform: uppercase;
        margin: 0px 0 0 0px;
        font:bold 13px $DroidSans;
        color: #333333;
      }
      p {
        font:normal 13px $text_font;
        margin: 4px 0 0 0px;
        color: #333333;
      }
      button {
            float: right;
            margin: 15px 0 0 0px;
            padding:10px 10px;
            border:1px solid #333333;
            @include border-radius(5px);
            background:-webkit-gradient(linear,50% 0%,50% 100%,from(#FFFFFF),to(#CCC));
            font:bold 12px $text_font;
            color:#333333;
            text-transform:uppercase;
            text-align:center;

            &:hover {
              background:-webkit-gradient(linear,50% 0%,50% 100%,from(#CCCCCC),to(#EBEBEB));
            }
        }
    }
}

#compare_layout_1 {
    position: absolute;
    top: 0;
    width: 33.2%;
    right: 0;
    bottom: 0;
    border-left: 1px solid #666666;
    display: none;

    .compare_map {
        position: relative;
        width: 100%;
        height: 33.3%;
        border-bottom: 1px solid #333333;
    }
}
#compare_layout_2 {
    position: absolute;
    top: 0;
    width: 50%;
    right: 0;
    bottom: 0;
    border-left: 1px solid #666666;
    display: none;

    .compare_map {
        position: relative;
        width: 100%;
        height: 100%;
    }
}


#grid {
    .finished {
        /*background-image: url('/static/img/bkg_cell.png');*/
    }
    .cell {
        .cell_wrapper_info {
            display: none;
            position: absolute;
            top: -4px;
            left: 56px;
            width: 142px;
            height: 49px;
            background: -webkit-gradient(linear,50% 0%,50% 100%,from(#36383C),to(#232427));;
            font-size: 12px;
            color: white;
            z-index: 10;
            box-shadow: 0 0 10px rgba(0,0,0,0.6);
            -webkit-border-top-right-radius: 3px;
            -webkit-border-bottom-right-radius: 3px;
            -moz-border-radius-topright: 3px;
            -moz-border-radius-bottomright: 3px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;

            span.arrow {
              position:absolute;
              top:50%;
              left:-5px;
              width:5px;
              height:10px;
              margin:-5px 0 0 0;
              background:url('../img/cellinfo_arrow.png') no-repeat 0 0;
            }

            h3 {
              display:block;
              margin:5px 0 0 9px;
              font:bold 13px $text_font;
              color:white;
              text-shadow:0 1px black;
            }

            p {
              display:block;
              margin:9px 0 0 9px;
              font:normal 11px $text_font;
              color:rgba(255,255,255,0.6);
            }
        }
        &.hover {
            cursor:pointer;
            border: 4px solid #333;
        }
    }
}
