
@mixin border-radius($r) {
    -webkit-border-radius: $r;
}

body, html {
    height: 100%;
    overflow: hidden;
}

#workarea{
    position: absolute;
    width: 100%;
    top: 144px; 
    bottom: 0;
}

#map {
    width: 100%;
    height: 100%;
}

#layer_editor {
    position: absolute;
    top: 40px;
    right: 40px;
}

#layer_editor_dialog {
    position: absolute;
    overflow:hidden;
    width: 217px;
    height: 254px;
    z-index: 20;
    display: none;
    border: 1px solid #8B8B8B; 
    border-radius: 10px;
    ul {
        height: 254px;
        width: 100%;
        li {
            width: 217px - 25px;
            $fontsize: 13px;
            font-size: $fontsize;
            color: #626262;
            padding: 20 - $fontsize/2  0 20 - $fontsize/2 25px;
            /*margin-left: 18px;*/
            border-top: 1px solid #FBFBFB;
            border-bottom: 1px solid #CFCFCF;
            background: #E7E7E7 url('/static/img/tick_unselected.png') no-repeat 12px 15px;

            &:first-child {
                border-top: none;
            }
            .selected {
                background: url('/static/img/tick_selected.png') no-repeat 12px 15px;
            }
        }
    }
}

#loading {
    position: absolute;
    top: 50%; 
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    @include border-radius(5px);
    display: none;
}

#compare_maps {
    position: absolute;
    top: 0;
    width: 33.2%;
    right: 0;
    bottom: 0;
    border-left: 1px solid #666666;
    display: none;
    .compare_map {
        width: 100%;
        height: 33.3%;
        border-bottom: 1px solid #333333;
    }
}
