@import 'mixins';

body, html {
    height: 100%;
    overflow: hidden;
}

#workarea{
    position: absolute;
    width: 100%;
    top: 144px;
    bottom: 0;

    .map_container {
        position: absolute;
        width: 100%;
        height: 100%;
        .map {
            width: 100%;
            height: 100%;
        }

        div.layer_editor {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        div.zoom_control {
          position:absolute;
          top:20px;
          left:20px;
          width:22px;
          height:44px;
          z-index:10;

          a {
            display:block;
            width:22px;
            height:22px;
            text-indent:-9999px;
            background:url('../img/icons/zoom.png') no-repeat 0 0;
            &.zoom_in {
              &:hover {
                background-position:0 -22px;
              }
            }
            &.zoom_out {
              background-position:-22px 0;
              &:hover {
                background-position:-22px -22px;
              }
            }
          }
        }
    }
}



#layer_editor_dialog {
    position: absolute;
    width: 217px;
    height: 254px;
    z-index: 20;
    display: none;
    border: 1px solid #8B8B8B;
    background:#E7E7E7;

    ul {
        height: 254px;
        width: 100%;
        overflow:hidden;
        li {
            width: 217px - 25px;
            $fontsize: 13px;
            font-size: $fontsize;
            color: #626262;
            padding: 20 - $fontsize/2  0 20 - $fontsize/2 25px;
            /*margin-left: 18px;*/
            border-top: 1px solid #FBFBFB;
            border-bottom: 1px solid #CFCFCF;
            background: #E7E7E7 url('/static/img/tick_unselected.png') no-repeat 12px 16px;

            &:first-child {
                border-top: none;
            }

            &:last-child {
                border-bottom: none;
            }

            &.selected {
                background:#E7E7E7 url('/static/img/tick_selected.png') no-repeat 12px 16px;
            }

            &:hover a {
              color:#333333;
            }

            a {
              display:block;
              width:175px;
              font:normal 13px "Helvetica Neue";
              color:#666666;
              text-shadow:0 1px white;
              text-decoration:none;

              &:hover {
                color:#333333;
              }
            }
        }
    }
}

#loading_small {
    position: absolute;
    left:100px;
    bottom:-171px;
    width: 168px;
    height: 30px;
    background-color: #FFF;
    /*border: 3px solid rgba(0, 0, 0, 0.4);*/
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    /*display: none;*/
    z-index:10;

    span.loader {
      display: block;
      font: normal 13px $base;
      img {
            float: left;
            padding: 5px 0 0  5px;
      }
      p {
        padding: 5px 0 0 8px;
        display: inline-block;
      }
    }
}
#loading {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;

    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index:10;

    span.loader {
      position:absolute;
      top:50%;
      left:50%;
      margin:-25px 0 0 -25px;
      padding:0;
      width:32px;
      height:32px;
      padding:9px;
      @include border-radius(7px);
      background:rgba(0,0,0,0.6);
    }
}

#compare_layout_1 {
    position: absolute;
    top: 0;
    width: 33.2%;
    right: 0;
    bottom: 0;
    border-left: 1px solid #666666;
    display: none;

    .compare_map {
        position: relative;
        width: 100%;
        height: 33.3%;
        border-bottom: 1px solid #333333;
    }
}
#compare_layout_2 {
    position: absolute;
    top: 0;
    width: 50%;
    right: 0;
    bottom: 0;
    border-left: 1px solid #666666;
    display: none;

    .compare_map {
        position: relative;
        width: 100%;
        height: 100%;
    }
}


#grid {
    .finished {
        /*background-image: url('/static/img/bkg_cell.png');*/
    }
    .cell {
        .cell_wrapper_info {
            display: none;
            position: absolute;
            top: -3px;
            left: 54px;
            width: 137px;
            height: 49px;
            background: -webkit-gradient(linear,50% 0%,50% 100%,from(#36383C),to(#232427));;
            font-size: 12px;
            color: white;
            z-index: 10;
            box-shadow: 0 0 10px rgba(0,0,0,0.6);
            -webkit-border-top-right-radius: 3px;
            -webkit-border-bottom-right-radius: 3px;
            -moz-border-radius-topright: 3px;
            -moz-border-radius-bottomright: 3px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;

            span.arrow {
              position:absolute;
              top:50%;
              left:-5px;
              width:5px;
              height:10px;
              margin:-5px 0 0 0;
              background:url('../img/cellinfo_arrow.png') no-repeat 0 0;
            }

            h3 {
              display:block;
              margin:5px 0 0 9px;
              font:bold 13px $text_font;
              color:white;
              text-shadow:0 1px black;
            }

            p {
              display:block;
              margin:9px 0 0 9px;
              font:normal 11px $text_font;
              color:rgba(255,255,255,0.6);
            }
        }
        &.hover {
            cursor:pointer;
            border: 3px solid #333;
        }
    }
}
