

#report_dialog_outer {
    display: none;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(0,0,0,0.5);
    z-index: 200;
}

#report_dialog {
    z-index: 201;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3);
    -webkit-border-top-right-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;

    $pad: 20px;
    $w: 388px - 2*$pad;
    $h: 241px - 2*$pad;
    padding: $pad;

    background:-webkit-gradient(linear,50% 0%,50% 100%,from(#FFFFFF),to(#F3F3F3));
    border-bottom: 3px solid rgb(216, 216, 216);

    position:absolute;
    top:50%;
    left:50%;
    margin:-$h/2 0 0 (-$w/2);
    width: $w;
    height: $h;
    a.close {
        position:absolute;
        right:5px;
        top:5px;
        width:11px;
        height:11px;
        text-indent:-9999px;
        background:url('../img/close_notes.png') no-repeat 0 0;
        &:hover {
          background-position:0 -12px;
        }
    }

    h1 {
        font:bold 13px $text_font;
        color:#333333;
        text-transform: uppercase;
        margin-bottom: 10px;
        span {
            color: #009933;
            position: relative;
            display: inline-block;
            #selected {
                text-decoration: underline;
                background:url('../img/icons/drop_down_region.png') no-repeat  right 5px;
                padding-right: 10px;

            }
            &:hover {
                #region_selector {
                    display: block;
                }
            }
            #region_selector {
                border-radius: 2px;
                display: none;
                position: absolute;
                width: 180px;
                /*height: 74px;*/
                box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.3);
                background:-webkit-gradient(linear,50% 0%,50% 100%,from(#FFFFFF),to(#F3F3F3));
                border: 1px solid #999999;
                padding: 5px 8px;
                left: -9px;
                top: -9px;
                li {
                    a {
                        color: #333;
                        display: block;
                        text-decoration: none;
                        padding: 3px 0;
                        text-decoration: none;
                    }
                    &:first-child a {
                        color: #999;
                    }
                }
            }
        }
    }
    p {
        font:normal 13px $text_font;
        color: #999;
        padding-bottom: 20px;
        border-bottom: 1px solid #DDD;
    }

    #export_types {
        margin-top: 20px;
        li {
            color: #333;
            font:normal 13px $text_font;
            padding: 3px 0 3px 20px;
            background:url('/static/img/tick_unselected.png') no-repeat 0px 6px;
            span {
                font:normal 11px $text_font;
                color: #999;
                margin-left: 4px;
            }
            &.selected {
                background:url('/static/img/tick_selected.png') no-repeat 0px 6px;
            }
        }
    }

    button {
        position: absolute;
        bottom: 20px;
        @include border-radius(5px);
        font:bold 12px $text_font;
        text-align: center;
        text-transform: uppercase;
        text-shadow:0 1px white;
        padding: 10px 10px;
        border:1px solid #777;
        background:-webkit-gradient(linear,50% 0%,50% 100%,from(#FFFFFF),to(rgb(230, 230, 230)));
        &:hover {
            background:-webkit-gradient(linear,50% 0%,50% 100%,from(rgb(230, 230, 230)), to(#FFFFFF));
        }
    }

}
