/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
    overflow: hidden;
    position: relative;
}

.jspPane
{
    position: absolute;
}

.jspVerticalBar
{
    position: absolute;
    top: 0;
    right: 18px;
    width: 5px;
    height: 100%;
    background: red;
}

.jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
    margin: 0;
    padding: 0;
}

.jspCap
{
    display: none;
}

.jspHorizontalBar .jspCap
{
    float: left;
}

.jspTrack
{
    background: #dde;
    position: relative;
}

.jspDrag
{
    background: #bbd;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;
}

.jspArrow
{
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrow.jspDisabled
{
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow
{
    height: 16px;
}

.jspHorizontalBar .jspArrow
{
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.jspCorner
{
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
    margin: 0 -3px 0 0;
}


.jspHorizontalBar,
.jspVerticalBar,
.jspTrack
{
    background: none;
}

.jspDrag
{
    background:  #ccc;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.jspTrack .jspActive,
.jspTrack .jspHover,
.jspDrag:hover
{
    background: #8B8B9F;
}


.jspArrow
{
    background: url(../image/ui-icons_222222_256x240.png) no-repeat;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.jspVerticalBar>.jspActive,
.jspArrow:hover
{
    background-image: url('../image/ui-icons_cd0a0a_256x240.png');
}

.jspVerticalBar>.jspDisabled,
.jspVerticalBar>.jspDisabled:hover,
.jspHorizontalBar>.jspDisabled,
.jspHorizontalBar>.jspDisabled:hover
{
    background-color: transparent;
    background-image: url('../image/ui-icons_888888_256x240.png');
}

.jspVerticalBar .jspArrow
{
    height: 15px;
}

.jspHorizontalBar .jspArrow
{
    width: 5px;
}

.jspArrowUp
{
    background-position: 0 0;
}

.jspArrowDown
{
    background-position: -64px 0 !important;
}

.jspArrowLeft
{
    background-position: -96px 0 !important;
}

.jspArrowRight
{
    background-position: -32px 0 !important;
}

