
.timerange_widget {
    $widget_heigth: 69px;
    position: absolute;
    top: 59px;
    left: 103px;

    width: 254px;
    height: $widget_heigth;

    background-color: #1F2123;
    border: 1px solid #000;
    border-radius: 3px;

    ul {
        /*width: 100%;*/
        height: 100%;
        overflow: hidden;

        position: absolute;
        top:0;
        left: 0;

        li {
            &:first-child {
                margin-left: 2px;
            }
            height: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            display: block;
            float: left;
            width: 5px;
            margin-right: 2px;
            .bar {
                background: #404040;
            }
        }
    }
    #colored_bars .bar {
        background: red;
    }
    .selection {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.2);
        width: 60px;
        height: 67px;
        left: 100px;
        border: 1px solid #FFF;
        border-bottom: 8px solid #FFF;
        overflow:hidden;
    }
    .mover {
        $w: 13px;
        position: absolute;
        width: 13px;
        height: 13px;
        top: $widget_heigth/2 - $w/2;
        /*background: url(/static/img/icons/time_range_selector.png) -13px 0px;*/
        img {
            position: relative;
            left: -5px;
        }
    }
    #right {
        left: 60px;
    }
    #left {
        left: 20px;
        img {
            left: -6px;
        }
    }

    
}
