

html {
    background:url('../img/login_pattern.jpg') repeat 0 0!important;
}


.map_container {
    #popup {
        position: absolute;
        width: 213px;
        height: 172px;
        top: 0;
        display: none;
        z-index: 100;

        background: url('../img/vis_bkg_popup.png') no-repeat 0 0;
        #popup_content {
            position: relative;
            padding: 16px;
            font: normal 13px $text_font;
            text-shadow:0 1px #FFF;
            color: #666666;

            #popup_close {
                display: block;
                position: absolute;
                top: 8px;
                left: 185px;
            }
            .area_metric {
                text-transform: uppercase;
                font-size: 9px;
                margin-left: 3px;
            }
            h1 {
                color: #333333;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 3px;
            }
            .area {
                text-transform: uppercase;
            }

            #area_report {
                margin-top: 17px;
                .area_metric {
                    font-weight: bold;
                }
                #deg {
                    width: 50%;
                    float: left;
                }
                #def {
                    width: 50%;
                    float: right;
                }
                .qty {
                    font-size: 18px;
                    font-weight: bold;
                }

                .type {
                    text-transform: uppercase;
                    font-size: 10px;
                    line-height:5px;
                }
            }
            button {
                float: right;
                margin: 17px 8px 0 0px;
                padding:5px 10px;
                border:1px solid #AAA;
                @include border-radius(3px);
                background:-webkit-gradient(linear,50% 0%,50% 100%,from(#FFFFFF),to(#EEE));
                font:bold 11px $text_font;
                color:#333333;
                text-transform:uppercase;
                text-align:center;
            }
        }
    }
}

#layer_editor_dialog {
    ul {
        li {
            span {
              margin-left: 8px;
              display: inline-block;
              float: left;
              width: 36px;
              height: 20px;
              border-radius: 3px;
              background: url('../img/icons/switch_disabled.png') no-repeat 0px 0px;

            }
            &.on span {
              background: #CCC url('../img/icons/switch_enabled.png') no-repeat 0px 0px;
              &.legal_amazon {
                background-color: #FFFF00;
              }
              &.indigenous_land {
                background-color: #4DAF4A;
              }
              &.state_conservation {
                background-color: #984EA3;
              }
              &.federal_conservation {
                background-color: #377EB8;
              }
            }
            &.switch {
                width: 209px;
                //background: url('../img/icons/switch_disabled.png') no-repeat 6px 10px;
                background: none;
                padding-left: 0px;
                a {
                    width:160px - 27px;
                    padding-left: 55px;
                    background: url('/static/img/bkg_layers_drag.png') no-repeat 184px 5px !important;
                }
            }
            &.on {
                //background: red url('../img/icons/switch_enabled.png') no-repeat 6px 10px;
            }
        }
    }
}
