html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
  overflow: hidden;
  position: relative;
}

.jspPane {
  position: absolute;
}

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 18px;
  width: 5px;
  height: 100%;
  background: red;
}

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red;
}

.jspVerticalBar *,
.jspHorizontalBar * {
  margin: 0;
  padding: 0;
}

.jspCap {
  display: none;
}

.jspHorizontalBar .jspCap {
  float: left;
}

.jspTrack {
  background: #dde;
  position: relative;
}

.jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}

.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}

.jspVerticalBar .jspArrow {
  height: 16px;
}

.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus {
  outline: none;
}

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0;
}

.jspHorizontalBar,
.jspVerticalBar,
.jspTrack {
  background: none;
}

.jspDrag {
  background: #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.jspTrack .jspActive,
.jspTrack .jspHover,
.jspDrag:hover {
  background: #8B8B9F;
}

.jspArrow {
  background: url(../image/ui-icons_222222_256x240.png) no-repeat;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.jspVerticalBar > .jspActive,
.jspArrow:hover {
  background-image: url("../image/ui-icons_cd0a0a_256x240.png");
}

.jspVerticalBar > .jspDisabled,
.jspVerticalBar > .jspDisabled:hover,
.jspHorizontalBar > .jspDisabled,
.jspHorizontalBar > .jspDisabled:hover {
  background-color: transparent;
  background-image: url("../image/ui-icons_888888_256x240.png");
}

.jspVerticalBar .jspArrow {
  height: 15px;
}

.jspHorizontalBar .jspArrow {
  width: 5px;
}

.jspArrowUp {
  background-position: 0 0;
}

.jspArrowDown {
  background-position: -64px 0 !important;
}

.jspArrowLeft {
  background-position: -96px 0 !important;
}

.jspArrowRight {
  background-position: -32px 0 !important;
}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

button:focus {
  outline-width: 1px;
  outline-style: dotted;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.ie7 article span.input_text input, .ie8 article span.input_text input {
  line-height: 30px;
}

.ie7 span.input_text input, .ie8 span.input_text input {
  line-height: 32px;
}

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

input::-webkit-input-placeholder {
  color: #cccccc;
}

input:-moz-placeholder {
  color: #cccccc;
}

.ie6 h1, .ie6 h2, .ie6 h3, .ie6 h4, .ie6 h5, .ie6 h6, .ie6 #tabs ul li a, .ie6 nav ul li a, .ie7 h1, .ie7 h2, .ie7 h3, .ie7 h4, .ie7 h5, .ie7 h6, .ie7 #tabs ul li a, .ie7 nav ul li a, .ie8 h1, .ie8 h2, .ie8 h3, .ie8 h4, .ie8 h5, .ie8 h6, .ie8 #tabs ul li a, .ie8 nav ul li a {
  letter-spacing: 0!important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop) !important;
  zoom: 1!important;
}

body.reference header {
  height: 226px;
}
body.reference header #infoband {
  border-bottom: 1px solid #4b8741;
  height: 96px;
}
body.reference header #infoband .content h3 {
  background: none;
}

article .header .right h4 {
  margin-top: 22px;
}
article div.download {
  position: absolute;
  bottom: 0;
  z-index: 1000;
}
article ul li ul {
  margin-top: 10px!important;
  margin-bottom: 0!important;
}
article strong {
  color: #333333;
}
article .color {
  float: left;
  margin-right: 5px;
  margin-top: 4px;
  height: 10px;
  width: 10px;
  background: #000;
  border: 1px solid #000;
}
article span.code {
  color: #999999;
  font-size: 11px;
}
article .example {
  overflow: hidden;
  clear: both;
  margin-bottom: 10px;
}
article .example.big {
  height: 100px;
}
article .example ul {
  padding: 0;
  margin: 0;
}
article .example ul li {
  background: none!important;
  padding: 0!important;
  margin: 0!important;
}
article .example .field {
  height: 35px;
}

#header {
  z-index: 19;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: url("../img/title_bkg.png");
  -webkit-box-shadow: 0px 0px 5px #000;
  text-align: center;
}
#header a {
  color: white;
}
#header .hidden {
  display: none;
}
#header .content {
  position: relative;
  text-align: left;
  width: 1024px;
  margin: 0 auto;
}
#header #title {
  border-bottom: 1px solid #000;
  color: white;
  height: 84px;
}
#header #title h1 {
  font: bold 17px "Droid Sans";
  margin: 0;
  padding: 0;
}
#header #title h2 {
  font: normal 13px "Droid Sans";
  color: white;
  margin: 3px 0 0 0;
  text-shadow: 0 1px black;
}
#header #title h2 small {
  color: #59646D;
  font: normal 11px "Droid Sans";
  text-shadow: 0 1px #000000;
}
#header #title h2 a {
  display: inline-block;
  width: 50px;
  height: 20px;
  margin: 0 0 0 1px;
  background: url("../img/google.png") no-repeat 0 0;
  text-indent: -9999px;
}
#header #title #intro {
  padding-top: 27px;
}
#header #tools {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #202021;
  background: rgba(0, 0, 0, 0.5);
  height: 58px;
  color: white;
}
#header #tools #range_select {
  padding-top: 20px;
  color: #CCC;
}
#header #tools #range_select #selected_range {
  color: white;
  font-weigth: bold;
}
#header #tools #work_toolbar {
  padding-top: 13px;
}
#header #tools #work_toolbar ul, #header #tools #work_toolbar li {
  display: inline;
}
#header #tools #work_toolbar #selection {
  display: inline-block;
  width: 120px;
  height: 29px;
  padding: 0;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px #2A2C2E;
  border: 1px solid #000000;
}
#header #tools #work_toolbar #selection li {
  float: left;
  width: 30px;
}
#header #tools #work_toolbar #selection li a {
  display: block;
}
#header #tools #work_toolbar #selection li a#auto {
  width: 28px;
  height: 29px;
  text-indent: -9999px;
  border-right: 1px solid #3f3d43;
  border-left: 1px solid #1c1d20;
  width: 29px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-left: none;
  background: url(../img/icons/tool_icons.png) no-repeat 3px 4px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #selection li a#auto:hover {
  background: url(../img/icons/tool_icons.png) no-repeat 3px 4px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#auto.selected {
  background: url(../img/icons/tool_icons.png) no-repeat 3px 4px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#draw {
  width: 28px;
  height: 29px;
  text-indent: -9999px;
  border-right: 1px solid #3f3d43;
  border-left: 1px solid #1c1d20;
  background: url(../img/icons/tool_icons.png) no-repeat -27px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #selection li a#draw:hover {
  background: url(../img/icons/tool_icons.png) no-repeat -27px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#draw.selected {
  background: url(../img/icons/tool_icons.png) no-repeat -27px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#remove {
  width: 28px;
  height: 29px;
  text-indent: -9999px;
  border-right: 1px solid #3f3d43;
  border-left: 1px solid #1c1d20;
  background: url(../img/icons/tool_icons.png) no-repeat -57px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #selection li a#remove:hover {
  background: url(../img/icons/tool_icons.png) no-repeat -57px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#remove.selected {
  background: url(../img/icons/tool_icons.png) no-repeat -57px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#edit {
  width: 28px;
  height: 29px;
  text-indent: -9999px;
  border-right: 1px solid #3f3d43;
  border-left: 1px solid #1c1d20;
  width: 29px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-right: none;
  background: url(../img/icons/tool_icons.png) no-repeat -87px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #selection li a#edit:hover {
  background: url(../img/icons/tool_icons.png) no-repeat -87px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#edit.selected {
  background: url(../img/icons/tool_icons.png) no-repeat -87px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #polytype {
  display: inline-block;
  width: 128px;
  height: 29px;
  padding: 0;
  margin: 0 0 0 10px;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px #2A2C2E;
  border: 1px solid #000000;
}
#header #tools #work_toolbar #polytype li {
  float: left;
  width: 64px;
}
#header #tools #work_toolbar #polytype li a {
  display: block;
  font: bold 11px "Helvetica Neue","Helvetica",Arial;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 1px #000000;
  text-decoration: none;
}
#header #tools #work_toolbar #polytype li a#def {
  width: 29px;
  height: 11px;
  padding: 9px 9px 9px 24px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-right: 1px solid #3f3d43;
  background: url("../img/icons/color_circles.png") no-repeat 10px 12px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #polytype li a#def:hover {
  background: url("../img/icons/color_circles.png") no-repeat 10px 12px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #polytype li a#def.selected {
  background: url("../img/icons/color_circles.png") no-repeat 10px 12px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #polytype li a#deg {
  width: 30px;
  height: 11px;
  padding: 9px 9px 9px 24px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  background: url("../img/icons/color_circles.png") no-repeat 10px -9px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #polytype li a#deg:hover {
  background: url("../img/icons/color_circles.png") no-repeat 10px -9px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #polytype li a#deg.selected {
  background: url("../img/icons/color_circles.png") no-repeat 10px -9px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #maptools {
  float: right;
  margin: 9px 280px 0 0;
}
#header #tools #maptools li {
  margin: 0 10px 0;
}
#header #tools #maptools li a {
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
  color: white;
  text-shadow: 0 1px black;
  padding: 0 25px 3px 0;
  text-decoration: none;
}
#header #tools #maptools li a#compare {
  background: url("../img/icons/compare.png") no-repeat right 0;
}
#header #tools #maptools li a#compare.selected {
  background-position: right -31px;
}
#header #tools #maptools li a#ndfirange {
  background: url("../img/icons/range.png") no-repeat right 0;
}
#header #tools #maptools li a#ndfirange.selected {
  background-position: right -31px;
}
#header #tools #maptools #range:hover #slider_wrapper {
  display: block;
}
#header #tools #maptools #range:hover {
  background: #232427;
}
#header #tools #maptools #range {
  position: relative;
}
#header #tools #maptools #slider_wrapper {
  -webkit-box-shadow: 0px 0px 5px #000;
  z-index: 20;
  display: none;
  padding: 20px;
  width: 250px;
  position: absolute;
  left: -175px;
  font-size: 8px;
  background: #232427;
}
#header #overview {
  position: absolute;
  right: 30px;
  top: 0;
  width: 200px;
  height: 113px;
  padding: 20px;
  z-index: 10;
  background: -webkit-gradient(linear, left top, left bottom, from(#f14a30), to(#d14529));
}
#header #overview h3 {
  display: block;
  padding: 0 0 0 15px;
  background: url("../img/icons/padlock.png") no-repeat 0 0;
  color: #F7C8C0;
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
  text-shadow: #A03420 0px 1px 0px;
}
#header #overview p#cells {
  display: block;
  padding: 2px 0 0 0;
  color: #AC3722;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  text-shadow: 0 1px #FA8B73;
}
#header #overview div.info {
  display: block;
  margin: 15px 0 0 0;
}
#header #overview div.info p {
  float: left;
  width: auto;
  padding: 0 0 0 12px!important;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #96301C;
  text-shadow: 0 1px #E67F6A;
  background: url("../img/icons/marker_overview.png") no-repeat 0 2px;
}
#header #overview div.info p a {
  color: #96301C;
  text-decoration: none;
}
#header #overview div.info p a:hover {
  text-decoration: underline;
}
#header #overview div.info a.notes {
  float: right;
  padding: 2px 5px 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-radius: 3px;
  background: #C74027;
  font: normal 10px "Helvetica Neue", Arial, Sans-Serif;
  color: #FF8873;
  text-decoration: none;
}
#header #overview div.info a.notes:hover {
  color: white;
}
#header #overview div.analysed {
  display: inline-block;
  padding: 10px 0 0 0!important;
}
#header #overview div.analysed button#done {
  float: left;
  width: 200px;
  height: 35px;
  padding: 8px 5px 9px 10px;
  border: 1px solid #333333;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  box-shadow: 0 1px #F3775E;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#ebebeb), to(#cccccc));
}
#header #overview div.analysed button#done:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#cccccc), to(#ebebeb));
}
#header #overview div.analysed button#done span.separator {
  float: left;
  height: 18px;
  width: 2px;
  background: url("../img/button_separator.png") no-repeat 0 0;
}
#header #overview div.analysed button#done p.stats {
  float: left;
  width: 120px;
  padding: 1px 0 0 0;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #666666;
  text-shadow: 0 1px white;
  text-align: left;
}
#header #overview div.analysed button#done p.done {
  float: right;
  width: 58px;
  padding: 1px 0 0 0;
  font: bold 12px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

body, html {
  height: 100%;
  overflow: hidden;
}

#workarea {
  position: absolute;
  width: 100%;
  top: 144px;
  bottom: 0;
}

#map {
  width: 100%;
  height: 100%;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  display: none;
}

#compare_maps {
  position: absolute;
  top: 0;
  width: 33.2%;
  right: 0;
  bottom: 0;
  border-left: 1px solid #666666;
  display: none;
}
#compare_maps .compare_map {
  width: 100%;
  height: 33.3%;
  border-bottom: 1px solid #333333;
}
