html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
  overflow: hidden;
  position: relative;
}

.jspPane {
  position: absolute;
}

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 18px;
  width: 5px;
  height: 100%;
  background: red;
}

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red;
}

.jspVerticalBar *,
.jspHorizontalBar * {
  margin: 0;
  padding: 0;
}

.jspCap {
  display: none;
}

.jspHorizontalBar .jspCap {
  float: left;
}

.jspTrack {
  background: #dde;
  position: relative;
}

.jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}

.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}

.jspVerticalBar .jspArrow {
  height: 16px;
}

.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus {
  outline: none;
}

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0;
}

.jspHorizontalBar,
.jspVerticalBar,
.jspTrack {
  background: none;
}

.jspDrag {
  background: #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.jspTrack .jspActive,
.jspTrack .jspHover,
.jspDrag:hover {
  background: #8B8B9F;
}

.jspArrow {
  background: url(../image/ui-icons_222222_256x240.png) no-repeat;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.jspVerticalBar > .jspActive,
.jspArrow:hover {
  background-image: url("../image/ui-icons_cd0a0a_256x240.png");
}

.jspVerticalBar > .jspDisabled,
.jspVerticalBar > .jspDisabled:hover,
.jspHorizontalBar > .jspDisabled,
.jspHorizontalBar > .jspDisabled:hover {
  background-color: transparent;
  background-image: url("../image/ui-icons_888888_256x240.png");
}

.jspVerticalBar .jspArrow {
  height: 15px;
}

.jspHorizontalBar .jspArrow {
  width: 5px;
}

.jspArrowUp {
  background-position: 0 0;
}

.jspArrowDown {
  background-position: -64px 0 !important;
}

.jspArrowLeft {
  background-position: -96px 0 !important;
}

.jspArrowRight {
  background-position: -32px 0 !important;
}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

button:focus {
  outline-width: 1px;
  outline-style: dotted;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.ie7 article span.input_text input, .ie8 article span.input_text input {
  line-height: 30px;
}

.ie7 span.input_text input, .ie8 span.input_text input {
  line-height: 32px;
}

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

input::-webkit-input-placeholder {
  color: #cccccc;
}

input:-moz-placeholder {
  color: #cccccc;
}

.ie6 h1, .ie6 h2, .ie6 h3, .ie6 h4, .ie6 h5, .ie6 h6, .ie6 #tabs ul li a, .ie6 nav ul li a, .ie7 h1, .ie7 h2, .ie7 h3, .ie7 h4, .ie7 h5, .ie7 h6, .ie7 #tabs ul li a, .ie7 nav ul li a, .ie8 h1, .ie8 h2, .ie8 h3, .ie8 h4, .ie8 h5, .ie8 h6, .ie8 #tabs ul li a, .ie8 nav ul li a {
  letter-spacing: 0!important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop) !important;
  zoom: 1!important;
}

body.reference header {
  height: 226px;
}
body.reference header #infoband {
  border-bottom: 1px solid #4b8741;
  height: 96px;
}
body.reference header #infoband .content h3 {
  background: none;
}

article .header .right h4 {
  margin-top: 22px;
}
article div.download {
  position: absolute;
  bottom: 0;
  z-index: 1000;
}
article ul li ul {
  margin-top: 10px!important;
  margin-bottom: 0!important;
}
article strong {
  color: #333333;
}
article .color {
  float: left;
  margin-right: 5px;
  margin-top: 4px;
  height: 10px;
  width: 10px;
  background: #000;
  border: 1px solid #000;
}
article span.code {
  color: #999999;
  font-size: 11px;
}
article .example {
  overflow: hidden;
  clear: both;
  margin-bottom: 10px;
}
article .example.big {
  height: 100px;
}
article .example ul {
  padding: 0;
  margin: 0;
}
article .example ul li {
  background: none!important;
  padding: 0!important;
  margin: 0!important;
}
article .example .field {
  height: 35px;
}

.hidden {
  display: none;
}

#header {
  z-index: 19;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: url("../img/title_bkg.png");
  -webkit-box-shadow: 0px 0px 5px #000;
  text-align: center;
}
#header a {
  color: white;
}
#header .content {
  position: relative;
  text-align: left;
  /*width: 1024px;*/
  margin: 0 30px;
}
#header #title {
  border-bottom: 1px solid #000;
  color: white;
  height: 84px;
}
#header #title a {
  color: #999999;
  text-decoration: none;
}
#header #title h1 {
  display: inline-block;
  height: 13px;
  margin: 0;
  padding: 8px 0 8px  78px;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  background: url("../img/logo.png") no-repeat 0 4px;
  color: #999999;
}
#header #title #intro {
  padding-top: 27px;
}
#header #tools {
  border-top: 1px solid rgba(51, 51, 51, 0.5);
  border-bottom: 1px solid #202021;
  background: rgba(0, 0, 0, 0.5);
  height: 58px;
  color: white;
}
#header #tools #range_select {
  padding-top: 20px;
}
#header #tools #range_select p {
  display: inline-block;
  vertical-align: top;
  padding: 1px 0 0;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #4D575F;
  text-shadow: 0 1px black;
}
#header #tools #range_select p strong {
  font-weight: bold;
  color: white;
}
#header #tools #range_select a#select_range {
  display: inline-block;
  vertical-align: top;
  width: 19px;
  height: 19px;
  text-indent: -9999px;
  background: url("../img/icons/report.png") no-repeat 0 0;
}
#header #tools #range_select a#select_range:hover {
  background-position: 0 -19px;
}
#header #tools #work_toolbar {
  padding-top: 13px;
}
#header #tools #work_toolbar ul, #header #tools #work_toolbar li {
  display: inline;
}
#header #tools #work_toolbar #selection {
  display: inline-block;
  width: 120px;
  height: 29px;
  padding: 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-radius: 3px;
  box-shadow: 0 1px #2A2C2E;
  border: 1px solid #000000;
}
#header #tools #work_toolbar #selection li {
  float: left;
  width: 30px;
}
#header #tools #work_toolbar #selection li a {
  display: block;
}
#header #tools #work_toolbar #selection li a#edit {
  width: 28px;
  height: 29px;
  text-indent: -9999px;
  border-right: 1px solid #3f3d43;
  border-left: 1px solid #1c1d20;
  width: 29px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-left: none;
  background: url(../img/icons/tool_icons.png) no-repeat 3px 4px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #selection li a#edit:hover {
  background: url(../img/icons/tool_icons.png) no-repeat 3px 4px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#edit.selected {
  background: url(../img/icons/tool_icons.png) no-repeat 3px 4px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#auto {
  width: 28px;
  height: 29px;
  text-indent: -9999px;
  border-right: 1px solid #3f3d43;
  border-left: 1px solid #1c1d20;
  background: url(../img/icons/tool_icons.png) no-repeat -27px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #selection li a#auto:hover {
  background: url(../img/icons/tool_icons.png) no-repeat -27px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#auto.selected {
  background: url(../img/icons/tool_icons.png) no-repeat -27px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#draw {
  width: 28px;
  height: 29px;
  text-indent: -9999px;
  border-right: 1px solid #3f3d43;
  border-left: 1px solid #1c1d20;
  background: url(../img/icons/tool_icons.png) no-repeat -57px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #selection li a#draw:hover {
  background: url(../img/icons/tool_icons.png) no-repeat -57px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#draw.selected {
  background: url(../img/icons/tool_icons.png) no-repeat -57px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#remove {
  width: 28px;
  height: 29px;
  text-indent: -9999px;
  border-right: 1px solid #3f3d43;
  border-left: 1px solid #1c1d20;
  width: 29px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-right: none;
  background: url(../img/icons/tool_icons.png) no-repeat -87px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #selection li a#remove:hover {
  background: url(../img/icons/tool_icons.png) no-repeat -87px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#remove.selected {
  background: url(../img/icons/tool_icons.png) no-repeat -87px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #polytype {
  display: inline-block;
  width: 128px;
  height: 29px;
  padding: 0;
  margin: 0 0 0 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-radius: 3px;
  box-shadow: 0 1px #2A2C2E;
  border: 1px solid #000000;
}
#header #tools #work_toolbar #polytype li {
  float: left;
  width: 64px;
}
#header #tools #work_toolbar #polytype li a {
  display: block;
  font: bold 11px "Helvetica Neue","Helvetica",Arial;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 1px #000000;
  text-decoration: none;
}
#header #tools #work_toolbar #polytype li a#def {
  width: 29px;
  height: 11px;
  padding: 9px 9px 9px 24px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-right: 1px solid #3f3d43;
  background: url("../img/icons/color_circles.png") no-repeat 10px 12px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #polytype li a#def:hover {
  background: url("../img/icons/color_circles.png") no-repeat 10px 12px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #polytype li a#def.selected {
  background: url("../img/icons/color_circles.png") no-repeat 10px 12px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #polytype li a#deg {
  width: 30px;
  height: 11px;
  padding: 9px 9px 9px 24px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  background: url("../img/icons/color_circles.png") no-repeat 10px -9px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #polytype li a#deg:hover {
  background: url("../img/icons/color_circles.png") no-repeat 10px -9px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #polytype li a#deg.selected {
  background: url("../img/icons/color_circles.png") no-repeat 10px -9px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #maptools {
  float: right;
  margin: 10px 263px 0 0;
}
#header #tools #maptools li {
  position: relative;
  width: 116px;
  margin: 0;
  padding: 20px 11px;
}
#header #tools #maptools li a {
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
  color: white;
  text-shadow: 0 1px black;
  padding: 0 25px 3px 0;
  text-decoration: none;
}
#header #tools #maptools li a#compare {
  background: url("../img/icons/compare.png") no-repeat right 0;
}
#header #tools #maptools li a#ndfirange {
  background: url("../img/icons/range.png") no-repeat right 0;
}
#header #tools #maptools li.sep {
  padding: 0;
  width: 8px;
}
#header #tools #maptools li.sep img {
  margin-top: -20px;
  position: relative;
  top: 10px;
  padding: 0 3px;
}
#header #tools #maptools #compare_li {
  position: relative;
}
#header #tools #maptools div#compare_wrapper {
  display: none;
  position: absolute;
  top: 40px;
  left: -13px;
  width: 168px;
  height: 61px;
  background: url("../img/bottom_compare_wrapper.png") no-repeat center bottom;
}
#header #tools #maptools div#compare_wrapper ul {
  display: block;
  margin: 8px 0 0 27px;
}
#header #tools #maptools div#compare_wrapper ul li {
  display: inline-block;
  height: 28px;
  width: 29px;
  padding: 0;
  margin: 0 13px 0 0;
}
#header #tools #maptools div#compare_wrapper ul li a {
  display: block;
  width: 27px;
  height: 27px;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-radius: 3px;
  text-indent: -9999px;
}
#header #tools #maptools div#compare_wrapper ul li a:hover {
  border-color: black;
  box-shadow: 0 1px #2A2C2E;
  cursor: pointer;
}
#header #tools #maptools div#compare_wrapper ul li a.selected {
  border-color: black;
  box-shadow: 0 1px #2A2C2E;
  cursor: default;
}
#header #tools #maptools div#compare_wrapper ul li a.one {
  background: url("../img/icons/compare_single.png") center center no-repeat;
}
#header #tools #maptools div#compare_wrapper ul li a.two {
  background: url("../img/icons/compare_two.png") center center no-repeat;
}
#header #tools #maptools div#compare_wrapper ul li a.four {
  background: url("../img/icons/compare_four.png") center center no-repeat;
}
#header #tools #maptools #compare_li:hover {
  background: url("../img/over_header_settings.png") no-repeat -11px 0;
}
#header #tools #maptools #compare_li:hover #compare {
  background-position: right -23px;
}
#header #tools #maptools #compare_li:hover #compare_wrapper {
  display: block;
}
#header #tools #maptools #range:hover {
  background: url("../img/over_header_settings2.png") no-repeat -11px 0;
}
#header #tools #maptools #range:hover #ndfirange {
  background-position: right -30px;
}
#header #tools #maptools #range:hover #slider_wrapper {
  display: block;
}
#header #tools #maptools #range {
  position: relative;
}
#header #tools #maptools #slider_wrapper {
  position: absolute;
  display: none;
  top: 40px;
  right: -13px;
  width: 273px;
  height: 61px;
  background: url("../img/bottom_range_wrapper.png") no-repeat 0 0;
  z-index: 2;
}
#header #tools #maptools #slider_wrapper div#ndfi_slider {
  position: absolute;
  bottom: 31px;
  left: 27px;
  border: none;
  width: 218px;
  height: 1px;
  background: none;
}
#header #tools #maptools #slider_wrapper div#ndfi_slider span.hack_red {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  height: 1px;
  background: red;
}
#header #tools #maptools #slider_wrapper div#ndfi_slider p.tooltip {
  position: absolute;
  top: -26px;
  width: 24px;
  height: 10px;
  margin: 0 0 0 -7px;
  padding: 4px 0 10px 1px;
  background: url("../img/slider_tooltip_bkg.png") no-repeat 0 0;
  font: normal 10px "Helvetica Neue", Arial, Sans-Serif;
  color: #CCCCCC;
  text-align: center;
}
#header #tools #maptools #slider_wrapper div#ndfi_slider .ui-slider-handle {
  top: -6px;
  width: 13px;
  height: 14px;
  background: url("../img/icons/slider_handle.png") no-repeat 0 0;
  padding: 0;
  outline: none;
  border: none;
}
#header #tools #maptools #slider_wrapper div#ndfi_slider .ui-slider-handle:focus {
  outline: none;
}
#header #tools #maptools #slider_wrapper div#ndfi_slider .ui-state-focus, #header #tools #maptools #slider_wrapper div#ndfi_slider .ui-state-hover {
  background-position: 0 -14px;
  cursor: pointer;
}
#header #tools #maptools #slider_wrapper div#ndfi_slider .ui-slider-range {
  background: #FDCC8A;
}
#header #overview {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  height: 113px;
  padding: 20px;
  z-index: 10;
  background: -webkit-gradient(linear, left top, left bottom, from(#f14a30), to(#d14529));
}
#header #overview h3 {
  display: block;
  padding: 0 0 0 15px;
  background: url("../img/icons/padlock.png") no-repeat 0 2px;
  color: #F7C8C0;
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
  text-shadow: #A03420 0px 1px 0px;
}
#header #overview p#cells {
  display: block;
  padding: 2px 0 0 0;
  color: #AC3722;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  text-shadow: 0 1px #EE6A50;
}
#header #overview div.info {
  display: block;
  margin: 15px 0 0 0;
}
#header #overview div.info p {
  float: left;
  width: auto;
  padding: 0 0 0 12px!important;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #96301C;
  text-shadow: 0 1px #E67F6A;
  background: url("../img/icons/marker_overview.png") no-repeat 0 2px;
}
#header #overview div.info p a {
  color: #96301C;
  text-decoration: none;
}
#header #overview div.info p a:hover {
  text-decoration: underline;
}
#header #overview div.info a.notes {
  float: right;
  padding: 2px 5px 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-radius: 3px;
  background: #C74027;
  font: normal 10px "Helvetica Neue", Arial, Sans-Serif;
  color: #FF8873;
  text-decoration: none;
}
#header #overview div.info a.notes:hover {
  color: white;
}
#header #overview #analysed_global_progress {
  display: inline-block;
  padding: 10px 0 0 0!important;
}
#header #overview #analysed_global_progress #bar {
  position: relative;
  float: left;
  width: 200px;
  height: 35px;
  border: 1px solid #333333;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  box-shadow: 0 1px #F3775E;
  background: #8D2D19;
}
#header #overview #analysed_global_progress #bar #progress {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#cccccc));
  width: 20%;
  height: 35px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
#header #overview #analysed_global_progress #bar #progress_number {
  position: relative;
  padding: 10px 0 0 10px;
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #666666;
  text-shadow: 0 1px white;
}
#header #overview div.analysed {
  display: inline-block;
  padding: 10px 0 0 0!important;
}
#header #overview div.analysed.hidden {
  display: none;
}
#header #overview div.analysed button.finish_button {
  float: left;
  width: 200px;
  height: 35px;
  padding: 8px 5px 9px 10px;
  border: 1px solid #333333;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  box-shadow: 0 1px #F3775E;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#ebebeb), to(#cccccc));
}
#header #overview div.analysed button.finish_button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#cccccc), to(#ebebeb));
}
#header #overview div.analysed button.finish_button span.separator {
  float: left;
  height: 18px;
  width: 2px;
  background: url("../img/button_separator.png") no-repeat 0 0;
}
#header #overview div.analysed button.finish_button p.stats {
  float: left;
  width: 120px;
  padding: 1px 0 0 0;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #666666;
  text-shadow: 0 1px white;
  text-align: left;
}
#header #overview div.analysed button.finish_button p.stats_progress {
  width: 101px;
}
#header #overview div.analysed button.finish_button p.done {
  float: right;
  width: 58px;
  padding: 1px 0 0 0;
  font: bold 12px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
#header #overview div.analysed button.finish_button p.generate {
  width: 70px;
  text-align: left;
}
#header #overview #settings {
  float: right;
  padding: 2px 0 20px 3px;
}
#header #overview #settings:hover #settings_popup {
  display: block;
}
#header #overview #settings #settings_popup {
  background-color: #CCC;
  display: none;
  top: 10px;
  position: absolute;
  left: 10px;
  padding: 10px;
  width: 203px;
  height: 77px;
  background: url("/static/img/bkg_settings_popup.png");
}
#header #overview #settings a {
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 1px #812B19;
  margin-top: 23px;
  display: inline-block;
  text-decoration: none;
  padding-left: 14px;
}
#header #overview #settings #logout {
  float: right;
  margin-right: 27px;
  background: url("/static/img/icons/logout.png") no-repeat 0px 1px;
}
#header #overview #settings #go_setting {
  margin-left: 17px;
  background: url("/static/img/icons/settings.png") no-repeat 0px 3px;
}
#header #overview #settings_sep {
  float: right;
}
#header #overview .conf_dialog {
  /*#confirmation_dialog {*/
  width: 208px;
  height: 114px;
  padding: 30px 20px 20px 20px;
  position: relative;
  top: 0px;
  left: -23px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  background: url("/static/img/confirmation_bkg.png");
}
#header #overview .conf_dialog button {
  padding: 11px 12px;
  border: 1px solid #999999;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(white), to(#cccccc));
  font: bold 12px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
#header #overview .conf_dialog button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#cccccc), to(#ebebeb));
}
#header #overview .conf_dialog a {
  color: #EA462C;
  float: right;
  font: normal 13px "Arial", "Helvetica", Sans-Serif;
  padding-top: 10px;
  display: inline-block;
}
#header #overview .conf_dialog h3 {
  width: 100%;
  padding: 0 0 10px;
  font: bold 13px "Droid Sans";
  color: #333333;
  background: none;
  text-shadow: none;
}
#header #overview .conf_dialog p {
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
  padding: 0 0 15px;
}

body, html {
  height: 100%;
  overflow: hidden;
}

#workarea {
  position: absolute;
  width: 100%;
  top: 144px;
  bottom: 0;
}
#workarea .map_container {
  position: absolute;
  width: 100%;
  height: 100%;
}
#workarea .map_container .map {
  width: 100%;
  height: 100%;
}
#workarea .map_container div.layer_editor {
  position: absolute;
  top: 20px;
  right: 20px;
}
#workarea .map_container div.zoom_control {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 22px;
  height: 44px;
  z-index: 10;
}
#workarea .map_container div.zoom_control a {
  display: block;
  width: 22px;
  height: 22px;
  text-indent: -9999px;
  background: url("../img/icons/zoom.png") no-repeat 0 0;
}
#workarea .map_container div.zoom_control a.zoom_in:hover {
  background-position: 0 -22px;
}
#workarea .map_container div.zoom_control a.zoom_out {
  background-position: -22px 0;
}
#workarea .map_container div.zoom_control a.zoom_out:hover {
  background-position: -22px -22px;
}

#layer_editor_dialog {
  position: absolute;
  width: 187px;
  height: 254px;
  z-index: 20;
  display: none;
  background: url("../img/bkg_layer_editor_top.png") no-repeat 0 0;
}
#layer_editor_dialog .jspVerticalBar {
  right: 13px;
}
#layer_editor_dialog #layer_top {
  position: absolute;
  top: 11px;
  left: 11px;
  z-index: 20;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-topleft: 3px;
}
#layer_editor_dialog #layer_bottom {
  position: absolute;
  top: 229px;
  left: 11px;
  z-index: 20;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
}
#layer_editor_dialog ul {
  position: relative;
  top: 11px;
  left: 11px;
  height: 232px;
  width: 165px;
  overflow: hidden;
}
#layer_editor_dialog ul li {
  width: 133px;
  font-size: 13px;
  color: #626262;
  padding: 13.5px 0 13.5px 23px;
  /*margin-left: 18px;*/
  border-top: 1px solid #FBFBFB;
  border-bottom: 1px solid #CFCFCF;
  background: url("/static/img/tick_unselected.png") no-repeat 10px 16px;
}
#layer_editor_dialog ul li:first-child {
  border-top: none;
}
#layer_editor_dialog ul li:last-child {
  border-bottom: none;
}
#layer_editor_dialog ul li.selected {
  background: url("/static/img/tick_selected.png") no-repeat 10px 16px;
}
#layer_editor_dialog ul li.moving {
  background-color: #E7E7E7;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}
#layer_editor_dialog ul li:hover a {
  color: #333333;
}
#layer_editor_dialog ul li.sortable a {
  background: url("/static/img/bkg_layers_drag.png") no-repeat 111px 5px;
}
#layer_editor_dialog ul li a {
  display: block;
  width: 100px;
  padding-right: 20px;
  font: normal 13px "Helvetica Neue";
  color: #666666;
  text-shadow: 0 1px white;
  text-decoration: none;
}
#layer_editor_dialog ul li a:hover {
  color: #333333;
}

#loading_small {
  position: absolute;
  left: 100px;
  bottom: -171px;
  width: 168px;
  height: 30px;
  background-color: #FFF;
  /*border: 3px solid rgba(0, 0, 0, 0.4);*/
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  /*display: none;*/
  z-index: 10;
}
#loading_small span.loader {
  display: block;
  font: normal 13px "Arial", "Helvetica", Sans-Serif;
}
#loading_small span.loader img {
  float: left;
  padding: 5px 0 0  5px;
}
#loading_small span.loader p {
  padding: 5px 0 0 8px;
  display: inline-block;
}

#loading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 10;
}
#loading span.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -97px 0 0 -110.5px;
  width: 221px;
  height: 97px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-radius: 2px;
  background-color: #FFF;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
}
#loading span.loader h1 {
  text-transform: uppercase;
  margin: 16px 0 0 20px;
  font: bold 13px "Droid Sans";
  color: #333333;
}
#loading span.loader p {
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  margin: 4px 0 0 20px;
  color: #333333;
}
#loading span.loader img {
  margin: 10px 0 0 20px;
}

#error_dialog {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 10;
}
#error_dialog span.error_desc {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -170px 0 0 -160px;
  width: 320px;
  /*height: $h;*/
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-radius: 2px;
  background-color: #FFF;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
#error_dialog span.error_desc h1 {
  text-transform: uppercase;
  margin: 0px 0 0 0px;
  font: bold 13px "Droid Sans";
  color: #333333;
}
#error_dialog span.error_desc p {
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  margin: 4px 0 0 0px;
  color: #333333;
}
#error_dialog span.error_desc button {
  float: right;
  margin: 15px 0 0 0px;
  padding: 10px 10px;
  border: 1px solid #333333;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(white), to(#cccccc));
  font: bold 12px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
#error_dialog span.error_desc button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#cccccc), to(#ebebeb));
}

#compare_layout_1 {
  position: absolute;
  top: 0;
  width: 33.2%;
  right: 0;
  bottom: 0;
  border-left: 1px solid #666666;
  display: none;
}
#compare_layout_1 .compare_map {
  position: relative;
  width: 100%;
  height: 33.3%;
  border-bottom: 1px solid #333333;
}

#compare_layout_2 {
  position: absolute;
  top: 0;
  width: 50%;
  right: 0;
  bottom: 0;
  border-left: 1px solid #666666;
  display: none;
}
#compare_layout_2 .compare_map {
  position: relative;
  width: 100%;
  height: 100%;
}

#grid .finished {
  /*background-image: url('/static/img/bkg_cell.png');*/
}
#grid .cell .cell_wrapper_info {
  display: none;
  position: absolute;
  top: -4px;
  left: 56px;
  width: 142px;
  height: 49px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
  font-size: 12px;
  color: white;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#grid .cell .cell_wrapper_info span.arrow {
  position: absolute;
  top: 50%;
  left: -5px;
  width: 5px;
  height: 10px;
  margin: -5px 0 0 0;
  background: url("../img/cellinfo_arrow.png") no-repeat 0 0;
}
#grid .cell .cell_wrapper_info h3 {
  display: block;
  margin: 5px 0 0 9px;
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
  color: white;
  text-shadow: 0 1px black;
}
#grid .cell .cell_wrapper_info p {
  display: block;
  margin: 9px 0 0 9px;
  font: normal 11px "Helvetica Neue", Arial, Sans-Serif;
  color: rgba(255, 255, 255, 0.6);
}
#grid .cell.hover {
  cursor: pointer;
  border: 4px solid #333;
}

article.mamufas {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
article.mamufas div.notes {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 485px;
  height: 380px;
  margin: -215px 0 0 -267px;
  padding: 25px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  /*border:3px solid rgba(0,0,0,0.5);*/
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(white), to(#f3f3f3));
}
article.mamufas div.notes a.close {
  position: absolute;
  right: 26px;
  top: 26px;
  width: 11px;
  height: 11px;
  text-indent: -9999px;
  background: url("../img/close_notes.png") no-repeat 0 0;
}
article.mamufas div.notes a.close:hover {
  background-position: 0 -12px;
}
article.mamufas div.notes h3 {
  width: 100%;
  padding: 0 0 15px;
  border-bottom: 1px solid #e5e5e5;
  font: bold 13px "Droid Sans";
  color: #333333;
}
article.mamufas div.notes ul {
  width: 100%;
  height: 219px;
  border-bottom: 1px solid #e5e5e5;
}
article.mamufas div.notes ul li {
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
}
article.mamufas div.notes ul li:last-child {
  border-bottom: none;
}
article.mamufas div.notes ul li:first-child {
  border-bottom: 1px solid #e5e5e5;
}
article.mamufas div.notes ul li p.comment_text {
  float: left;
  width: 334px;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
}
article.mamufas div.notes ul li span.comment_info {
  float: right;
  width: 128px;
}
article.mamufas div.notes ul li span.comment_info h5 {
  display: block;
  padding: 0;
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
}
article.mamufas div.notes ul li span.comment_info p {
  padding: 3px 0 0 0;
  font: normal 13px Arial;
  color: #666666;
}
article.mamufas div.notes form {
  width: 100%;
  padding: 22px 0 0 0;
}
article.mamufas div.notes form div.left {
  float: left;
  width: 334px;
}
article.mamufas div.notes form div.left textarea {
  width: 322px;
  height: 39px;
  padding: 5px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-radius: 4px;
  background: #F3F3F3;
  resize: none;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
}
article.mamufas div.notes form div.left textarea:focus {
  outline: none;
  border-color: #999999;
}
article.mamufas div.notes form div.left a.close_notes {
  float: left;
  padding: 29px 0 0 0;
  font: normal 13px Arial;
  text-decoration: underline;
  color: #EA482E;
}
article.mamufas div.notes form div.left a.close_notes:hover {
  color: #B33522;
}
article.mamufas div.notes form div.left a.add_note {
  float: right;
  height: 12px;
  width: 93px;
  margin: 17px 0 0 0;
  padding: 11px 0 12px;
  border: 1px solid #999999;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(white), to(#cccccc));
  font: bold 12px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px white;
  text-decoration: none;
}
article.mamufas div.notes form div.left a.add_note:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#cccccc), to(white));
  color: black;
}
article.mamufas div.notes form div.right {
  float: right;
  width: 128px;
}
article.mamufas div.notes form div.right h5 {
  display: block;
  padding: 0;
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
}

#user_dialog {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
#user_dialog div.notes {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 485px;
  height: 380px;
  margin: -215px 0 0 -267px;
  padding: 25px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  /*border:3px solid rgba(0,0,0,0.5);*/
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(white), to(#f3f3f3));
}
#user_dialog div.notes a.close {
  position: absolute;
  right: 26px;
  top: 26px;
  width: 11px;
  height: 11px;
  text-indent: -9999px;
  background: url("../img/close_notes.png") no-repeat 0 0;
}
#user_dialog div.notes a.close:hover {
  background-position: 0 -12px;
}
#user_dialog div.notes h3 {
  width: 100%;
  padding: 0 0 15px;
  border-bottom: 1px solid #e5e5e5;
  font: bold 13px "Droid Sans";
  color: #333333;
}
#user_dialog div.notes ul {
  width: 100%;
  height: 219px;
  border-bottom: 1px solid #e5e5e5;
}
#user_dialog div.notes ul li {
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
}
#user_dialog div.notes ul li:last-child {
  border-bottom: none;
}
#user_dialog div.notes ul li:first-child {
  border-bottom: 1px solid #e5e5e5;
}
#user_dialog div.notes ul li span.user_name {
  width: 300px;
  display: inline-block;
}
#user_dialog div.notes form {
  width: 100%;
  padding: 22px 0 0 0;
}
#user_dialog div.notes form div.left {
  float: left;
  width: 334px;
}
#user_dialog div.notes form div.left label {
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
}
#user_dialog div.notes form div.left input {
  width: 322px;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-radius: 4px;
  background: #F3F3F3;
  resize: none;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
}
#user_dialog div.notes form div.left input:focus {
  outline: none;
  border-color: #999999;
}
#user_dialog div.notes form div.left a.close_notes {
  float: left;
  padding: 29px 0 0 0;
  font: normal 13px Arial;
  text-decoration: underline;
  color: #EA482E;
}
#user_dialog div.notes form div.left a.close_notes:hover {
  color: #B33522;
}
#user_dialog div.notes form div.left a.add_note {
  float: right;
  height: 12px;
  width: 93px;
  margin: 17px 0 0 0;
  padding: 11px 0 12px;
  border: 1px solid #999999;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(white), to(#cccccc));
  font: bold 12px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px white;
  text-decoration: none;
}
#user_dialog div.notes form div.left a.add_note:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#cccccc), to(white));
  color: black;
}
#user_dialog div.notes form div.right {
  float: right;
  width: 128px;
}
#user_dialog div.notes form div.right h5 {
  display: block;
  padding: 0;
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
}

html {
  background: url("../img/login_pattern.jpg") repeat 0 0 !important;
}

body.login {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
}

article.login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 252px;
  height: 188px;
  padding: 0;
  margin: -129px 0 0 -149px;
  padding: 35px 28px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#ff4c34), to(#c24325));
  box-shadow: 0 0 30px black;
}
article.login h1 {
  display: inline-block;
  height: 13px;
  margin: 0;
  padding: 8px 0 8px  78px;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  background: url("../img/logo.png") no-repeat 0 5px;
  color: #f0f0f0;
}
article.login p {
  display: block;
  margin: 26px 0 0 0;
  font: normal 15px Helvetica;
  color: rgba(0, 0, 0, 0.4);
}
article.login a.sign_in {
  float: right;
  /*width:76px;*/
  height: 15px;
  margin: 30px 0 0 0;
  padding: 8px 10px 10px 10px;
  text-align: center;
  border: 1px solid #7B2615;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#ebebeb), to(#cccccc));
  font: bold 15px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
  text-shadow: 0 1px white;
  text-decoration: none;
  box-shadow: 0 1px rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-radius: 3px;
}
article.login a.sign_in:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#cccccc), to(#ebebeb));
}
