html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
  overflow: hidden;
  position: relative;
}

.jspPane {
  position: absolute;
}

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 18px;
  width: 5px;
  height: 100%;
  background: red;
}

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red;
}

.jspVerticalBar *,
.jspHorizontalBar * {
  margin: 0;
  padding: 0;
}

.jspCap {
  display: none;
}

.jspHorizontalBar .jspCap {
  float: left;
}

.jspTrack {
  background: #dde;
  position: relative;
}

.jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}

.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}

.jspVerticalBar .jspArrow {
  height: 16px;
}

.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus {
  outline: none;
}

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0;
}

.jspHorizontalBar,
.jspVerticalBar,
.jspTrack {
  background: none;
}

.jspDrag {
  background: #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.jspTrack .jspActive,
.jspTrack .jspHover,
.jspDrag:hover {
  background: #8B8B9F;
}

.jspArrow {
  background: url(../image/ui-icons_222222_256x240.png) no-repeat;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.jspVerticalBar > .jspActive,
.jspArrow:hover {
  background-image: url("../image/ui-icons_cd0a0a_256x240.png");
}

.jspVerticalBar > .jspDisabled,
.jspVerticalBar > .jspDisabled:hover,
.jspHorizontalBar > .jspDisabled,
.jspHorizontalBar > .jspDisabled:hover {
  background-color: transparent;
  background-image: url("../image/ui-icons_888888_256x240.png");
}

.jspVerticalBar .jspArrow {
  height: 15px;
}

.jspHorizontalBar .jspArrow {
  width: 5px;
}

.jspArrowUp {
  background-position: 0 0;
}

.jspArrowDown {
  background-position: -64px 0 !important;
}

.jspArrowLeft {
  background-position: -96px 0 !important;
}

.jspArrowRight {
  background-position: -32px 0 !important;
}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

button:focus {
  outline-width: 1px;
  outline-style: dotted;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.ie7 article span.input_text input, .ie8 article span.input_text input {
  line-height: 30px;
}

.ie7 span.input_text input, .ie8 span.input_text input {
  line-height: 32px;
}

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

input::-webkit-input-placeholder {
  color: #cccccc;
}

input:-moz-placeholder {
  color: #cccccc;
}

.ie6 h1, .ie6 h2, .ie6 h3, .ie6 h4, .ie6 h5, .ie6 h6, .ie6 #tabs ul li a, .ie6 nav ul li a, .ie7 h1, .ie7 h2, .ie7 h3, .ie7 h4, .ie7 h5, .ie7 h6, .ie7 #tabs ul li a, .ie7 nav ul li a, .ie8 h1, .ie8 h2, .ie8 h3, .ie8 h4, .ie8 h5, .ie8 h6, .ie8 #tabs ul li a, .ie8 nav ul li a {
  letter-spacing: 0!important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop) !important;
  zoom: 1!important;
}

body.reference header {
  height: 226px;
}
body.reference header #infoband {
  border-bottom: 1px solid #4b8741;
  height: 96px;
}
body.reference header #infoband .content h3 {
  background: none;
}

article .header .right h4 {
  margin-top: 22px;
}
article div.download {
  position: absolute;
  bottom: 0;
  z-index: 1000;
}
article ul li ul {
  margin-top: 10px!important;
  margin-bottom: 0!important;
}
article strong {
  color: #333333;
}
article .color {
  float: left;
  margin-right: 5px;
  margin-top: 4px;
  height: 10px;
  width: 10px;
  background: #000;
  border: 1px solid #000;
}
article span.code {
  color: #999999;
  font-size: 11px;
}
article .example {
  overflow: hidden;
  clear: both;
  margin-bottom: 10px;
}
article .example.big {
  height: 100px;
}
article .example ul {
  padding: 0;
  margin: 0;
}
article .example ul li {
  background: none!important;
  padding: 0!important;
  margin: 0!important;
}
article .example .field {
  height: 35px;
}

.hidden {
  display: none;
}

#header {
  z-index: 23;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px #000;
  text-align: center;
}
#header a {
  color: white;
}
#header .content {
  position: relative;
  text-align: left;
  /*width: 1024px;*/
  margin: 0 30px;
}
#header #title {
  border-bottom: 1px solid #000;
  color: white;
  height: 112px;
  background: url("../img/title_bkg.png");
}
#header #title a {
  color: #999999;
  text-decoration: none;
}
#header #title h1 {
  display: inline-block;
  height: 13px;
  margin: 0;
  padding: 8px 0 8px  78px;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  background: url("../img/logo.png") no-repeat 0 4px;
  color: #999999;
}
#header #title #intro {
  padding: 27px 0;
}
#header #title #topbar {
  background: #000;
  height: 30px;
}
#header #title #topbar ul {
  position: absolute;
  right: 0;
  top: 0;
}
#header #title #topbar ul li {
  display: inline-block;
  width: 118px;
  text-align: center;
  text-transform: uppercase;
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
  padding-top: 7px;
  height: 30px;
}
#header #title #topbar ul li#analysis {
  background-color: #f14a30;
  text-shadow: 0 1px #ed705a;
}
#header #title #topbar ul li#analysis a {
  color: #7E2817;
}
#header #title #topbar ul li#report a {
  color: #FFF;
}
#header #title #topbar #google_powered {
  font: normal 13px "Droid Sans";
  color: white;
  padding: 7px 0 0 0;
  text-shadow: 0 1px black;
}
#header #title #topbar #google_powered small {
  color: #59646D;
  font: normal 11px "Droid Sans";
  text-shadow: 0 1px #000000;
}
#header #title #topbar #google_powered a {
  display: inline-block;
  width: 50px;
  height: 20px;
  margin: 0 0 0 1px;
  background: url("../img/google.png") no-repeat 0 0;
  text-indent: -9999px;
}
#header #tools {
  border-top: 1px solid rgba(51, 51, 51, 0.5);
  border-bottom: 1px solid #202021;
  background: rgba(0, 0, 0, 0.5);
  height: 58px;
  color: white;
}
#header #tools #range_select {
  padding-top: 20px;
}
#header #tools #range_select p {
  display: inline-block;
  vertical-align: top;
  padding: 1px 0 0;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #4D575F;
  text-shadow: 0 1px black;
}
#header #tools #range_select p strong {
  font-weight: bold;
  color: white;
}
#header #tools #range_select a#select_range {
  display: inline-block;
  vertical-align: top;
  width: 19px;
  height: 19px;
  text-indent: -9999px;
  background: url("../img/icons/report.png") no-repeat 0 0;
}
#header #tools #range_select a#select_range:hover {
  background-position: 0 -19px;
}
#header #tools #work_toolbar {
  padding-top: 13px;
}
#header #tools #work_toolbar ul, #header #tools #work_toolbar li {
  display: inline;
}
#header #tools #work_toolbar #selection {
  display: inline-block;
  width: 120px;
  height: 29px;
  padding: 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-radius: 3px;
  box-shadow: 0 1px #2A2C2E;
  border: 1px solid #000000;
}
#header #tools #work_toolbar #selection li {
  float: left;
  width: 30px;
}
#header #tools #work_toolbar #selection li a {
  display: block;
}
#header #tools #work_toolbar #selection li a#edit {
  width: 28px;
  height: 29px;
  text-indent: -9999px;
  border-right: 1px solid #3f3d43;
  border-left: 1px solid #1c1d20;
  width: 29px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-left: none;
  background: url(../img/icons/tool_icons.png) no-repeat 3px 4px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #selection li a#edit:hover {
  background: url(../img/icons/tool_icons.png) no-repeat 3px 4px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#edit.selected {
  background: url(../img/icons/tool_icons.png) no-repeat 3px 4px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#auto {
  width: 28px;
  height: 29px;
  text-indent: -9999px;
  border-right: 1px solid #3f3d43;
  border-left: 1px solid #1c1d20;
  background: url(../img/icons/tool_icons.png) no-repeat -27px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #selection li a#auto:hover {
  background: url(../img/icons/tool_icons.png) no-repeat -27px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#auto.selected {
  background: url(../img/icons/tool_icons.png) no-repeat -27px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#draw {
  width: 28px;
  height: 29px;
  text-indent: -9999px;
  border-right: 1px solid #3f3d43;
  border-left: 1px solid #1c1d20;
  background: url(../img/icons/tool_icons.png) no-repeat -57px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #selection li a#draw:hover {
  background: url(../img/icons/tool_icons.png) no-repeat -57px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#draw.selected {
  background: url(../img/icons/tool_icons.png) no-repeat -57px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#remove {
  width: 28px;
  height: 29px;
  text-indent: -9999px;
  border-right: 1px solid #3f3d43;
  border-left: 1px solid #1c1d20;
  width: 29px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-right: none;
  background: url(../img/icons/tool_icons.png) no-repeat -87px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #selection li a#remove:hover {
  background: url(../img/icons/tool_icons.png) no-repeat -87px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#remove.selected {
  background: url(../img/icons/tool_icons.png) no-repeat -87px 6px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #polytype {
  display: inline-block;
  width: 128px;
  height: 29px;
  padding: 0;
  margin: 0 0 0 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-radius: 3px;
  box-shadow: 0 1px #2A2C2E;
  border: 1px solid #000000;
}
#header #tools #work_toolbar #polytype li {
  float: left;
  width: 64px;
}
#header #tools #work_toolbar #polytype li a {
  display: block;
  font: bold 11px "Helvetica Neue","Helvetica",Arial;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 1px #000000;
  text-decoration: none;
}
#header #tools #work_toolbar #polytype li a#def {
  width: 29px;
  height: 11px;
  padding: 9px 9px 9px 24px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-right: 1px solid #3f3d43;
  background: url("../img/icons/color_circles.png") no-repeat 10px 12px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #polytype li a#def:hover {
  background: url("../img/icons/color_circles.png") no-repeat 10px 12px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #polytype li a#def.selected {
  background: url("../img/icons/color_circles.png") no-repeat 10px 12px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #polytype li a#deg {
  width: 30px;
  height: 11px;
  padding: 9px 9px 9px 24px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  background: url("../img/icons/color_circles.png") no-repeat 10px -9px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #polytype li a#deg:hover {
  background: url("../img/icons/color_circles.png") no-repeat 10px -9px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #polytype li a#deg.selected {
  background: url("../img/icons/color_circles.png") no-repeat 10px -9px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #maptools {
  float: right;
  margin: 10px 263px 0 0;
}
#header #tools #maptools li {
  position: relative;
  width: 116px;
  margin: 0;
  padding: 20px 11px;
}
#header #tools #maptools li a {
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
  color: white;
  text-shadow: 0 1px black;
  padding: 0 30px 3px 4px;
  text-decoration: none;
}
#header #tools #maptools li a#compare {
  background: url("../img/icons/compare.png") no-repeat right 0;
}
#header #tools #maptools li a#ndfirange {
  background: url("../img/icons/range.png") no-repeat right 0;
}
#header #tools #maptools li.sep {
  padding: 0;
  width: 8px;
}
#header #tools #maptools li.sep img {
  margin-top: -20px;
  position: relative;
  top: 10px;
  padding: 0 0px;
}
#header #tools #maptools #compare_li {
  position: relative;
}
#header #tools #maptools div#compare_wrapper {
  display: none;
  position: absolute;
  top: 40px;
  left: -13px;
  width: 168px;
  height: 61px;
  background: url("../img/bottom_compare_wrapper.png") no-repeat center bottom;
}
#header #tools #maptools div#compare_wrapper ul {
  display: block;
  margin: 8px 0 0 27px;
}
#header #tools #maptools div#compare_wrapper ul li {
  display: inline-block;
  height: 28px;
  width: 29px;
  padding: 0;
  margin: 0 13px 0 0;
}
#header #tools #maptools div#compare_wrapper ul li a {
  display: block;
  width: 27px;
  height: 27px;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-radius: 3px;
  text-indent: -9999px;
}
#header #tools #maptools div#compare_wrapper ul li a:hover {
  border-color: black;
  box-shadow: 0 1px #2A2C2E;
  cursor: pointer;
}
#header #tools #maptools div#compare_wrapper ul li a.selected {
  border-color: black;
  box-shadow: 0 1px #2A2C2E;
  cursor: default;
}
#header #tools #maptools div#compare_wrapper ul li a.one {
  background: url("../img/icons/compare_single.png") center center no-repeat;
}
#header #tools #maptools div#compare_wrapper ul li a.two {
  background: url("../img/icons/compare_two.png") center center no-repeat;
}
#header #tools #maptools div#compare_wrapper ul li a.four {
  background: url("../img/icons/compare_four.png") center center no-repeat;
}
#header #tools #maptools #compare_li:hover {
  background: url("../img/over_header_settings.png") no-repeat -11px 0;
}
#header #tools #maptools #compare_li:hover #compare {
  background-position: right -23px;
}
#header #tools #maptools #compare_li:hover #compare_wrapper {
  display: block;
}
#header #tools #maptools #range:hover {
  background: url("../img/over_header_settings2.png") no-repeat -12px -4px;
}
#header #tools #maptools #range:hover #ndfirange {
  background-position: right -30px;
}
#header #tools #maptools #range:hover #slider_wrapper {
  display: block;
}
#header #tools #maptools #range {
  position: relative;
}
#header #tools #maptools #slider_wrapper {
  position: absolute;
  display: none;
  top: 40px;
  right: -13px;
  width: 320px;
  height: 164px;
  background: url("../img/bottom_range_wrapper.png") no-repeat 0 0;
  z-index: 2;
}
#header #tools #maptools #slider_wrapper h3 {
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
  color: rgba(153, 153, 153, 0.9);
  text-shadow: #000000 0px 1px 0px;
}
#header #tools #maptools #slider_wrapper h3#ndfi_text {
  position: absolute;
  left: 27px;
  top: 13px;
}
#header #tools #maptools #slider_wrapper h3#ndfi_visibility_text {
  position: absolute;
  left: 27px;
  top: 60px;
}
#header #tools #maptools #slider_wrapper div#ndfi_visibility {
  position: absolute;
  top: 80px;
  left: 27px;
  width: 265px;
}
#header #tools #maptools #slider_wrapper div#ndfi_visibility .class_selector {
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #777;
  text-shadow: #000000 0px 1px 0px;
  padding: 0 0 5px 20px;
  background: url("../img/check.png") no-repeat 0 3px;
}
#header #tools #maptools #slider_wrapper div#ndfi_visibility .class_selector:hover {
  color: #FFF;
}
#header #tools #maptools #slider_wrapper div#ndfi_visibility #degradation {
  background: url("../img/icons/switchers_ndfi.png") no-repeat no-repeat 0px -80px;
}
#header #tools #maptools #slider_wrapper div#ndfi_visibility #degradation.check_selected {
  background: url("../img/icons/switchers_ndfi.png") no-repeat no-repeat 0px -16px;
}
#header #tools #maptools #slider_wrapper div#ndfi_visibility #deforestation {
  background: url("../img/icons/switchers_ndfi.png") no-repeat no-repeat 0px -64px;
}
#header #tools #maptools #slider_wrapper div#ndfi_visibility #deforestation.check_selected {
  background: url("../img/icons/switchers_ndfi.png") no-repeat no-repeat 0px 0px;
}
#header #tools #maptools #slider_wrapper div#ndfi_visibility #forest {
  background: url("../img/icons/switchers_ndfi.png") no-repeat no-repeat 0px -96px;
}
#header #tools #maptools #slider_wrapper div#ndfi_visibility #forest.check_selected {
  background: url("../img/icons/switchers_ndfi.png") no-repeat no-repeat 0px -32px;
}
#header #tools #maptools #slider_wrapper div#ndfi_visibility #deforested {
  background: url("../img/icons/switchers_ndfi.png") no-repeat no-repeat 0px -112px;
}
#header #tools #maptools #slider_wrapper div#ndfi_visibility #deforested.check_selected {
  background: url("../img/icons/switchers_ndfi.png") no-repeat no-repeat 0px -48px;
}
#header #tools #maptools #slider_wrapper div#ndfi_visibility .left {
  width: 50%;
  float: left;
}
#header #tools #maptools #slider_wrapper div#ndfi_visibility .right {
  width: 50%;
  float: right;
}
#header #tools #maptools #slider_wrapper div#ndfi_slider {
  position: absolute;
  top: 43px;
  left: 27px;
  border: none;
  width: 266px;
  height: 1px;
  background: none;
}
#header #tools #maptools #slider_wrapper div#ndfi_slider span.hack_red {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  height: 1px;
  background: red;
}
#header #tools #maptools #slider_wrapper div#ndfi_slider p.tooltip {
  position: absolute;
  top: -26px;
  width: 24px;
  height: 10px;
  margin: 0 0 0 -7px;
  padding: 4px 0 10px 1px;
  background: url("../img/slider_tooltip_bkg.png") no-repeat 0 0;
  font: normal 10px "Helvetica Neue", Arial, Sans-Serif;
  color: #CCCCCC;
  text-align: center;
}
#header #tools #maptools #slider_wrapper div#ndfi_slider .ui-slider-handle {
  top: -6px;
  width: 13px;
  height: 14px;
  background: url("../img/icons/slider_handle.png") no-repeat 0 0;
  padding: 0;
  outline: none;
  border: none;
}
#header #tools #maptools #slider_wrapper div#ndfi_slider .ui-slider-handle:focus {
  outline: none;
}
#header #tools #maptools #slider_wrapper div#ndfi_slider .ui-state-focus, #header #tools #maptools #slider_wrapper div#ndfi_slider .ui-state-hover {
  background-position: 0 -14px;
  cursor: pointer;
}
#header #tools #maptools #slider_wrapper div#ndfi_slider .ui-slider-range {
  background: #FDCC8A;
}
#header #overview {
  position: absolute;
  right: 0;
  top: 0px;
  width: 200px;
  height: 113px;
  padding: 20px;
  z-index: 10;
  background: -webkit-gradient(linear, left top, left bottom, from(#f14a30), to(#d14529));
}
#header #overview h3 {
  display: block;
  padding: 0 0 0 15px;
  background: url("../img/icons/padlock.png") no-repeat 0 2px;
  color: #F7C8C0;
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
  text-shadow: #A03420 0px 1px 0px;
}
#header #overview p#cells {
  display: block;
  padding: 2px 0 0 0;
  color: #AC3722;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  text-shadow: 0 1px #EE6A50;
}
#header #overview div.info {
  display: block;
  margin: 15px 0 0 0;
}
#header #overview div.info p {
  float: left;
  width: auto;
  padding: 0 0 0 12px!important;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #96301C;
  text-shadow: 0 1px #E67F6A;
  background: url("../img/icons/marker_overview.png") no-repeat 0 2px;
}
#header #overview div.info p a {
  color: #96301C;
  text-decoration: none;
}
#header #overview div.info p a:hover {
  text-decoration: underline;
}
#header #overview div.info a.notes {
  float: right;
  padding: 2px 5px 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-radius: 3px;
  background: #C74027;
  font: normal 10px "Helvetica Neue", Arial, Sans-Serif;
  color: #FF8873;
  text-decoration: none;
}
#header #overview div.info a.notes:hover {
  color: white;
}
#header #overview #analysed_global_progress {
  display: inline-block;
  padding: 10px 0 0 0!important;
}
#header #overview #analysed_global_progress #bar {
  position: relative;
  float: left;
  width: 200px;
  height: 35px;
  border: 1px solid #333333;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  box-shadow: 0 1px #F3775E;
  background: #8D2D19;
}
#header #overview #analysed_global_progress #bar #progress {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#cccccc));
  width: 20%;
  height: 35px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
#header #overview #analysed_global_progress #bar #progress_number {
  position: relative;
  padding: 10px 0 0 10px;
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #666666;
  text-shadow: 0 1px white;
}
#header #overview div.analysed {
  display: inline-block;
  padding: 10px 0 0 0!important;
}
#header #overview div.analysed.hidden {
  display: none;
}
#header #overview div.analysed button.finish_button {
  float: left;
  width: 200px;
  height: 35px;
  padding: 8px 5px 9px 10px;
  border: 1px solid #333333;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  box-shadow: 0 1px #F3775E;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#ebebeb), to(#cccccc));
}
#header #overview div.analysed button.finish_button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#cccccc), to(#ebebeb));
}
#header #overview div.analysed button.finish_button span.separator {
  float: left;
  height: 18px;
  width: 2px;
  background: url("../img/button_separator.png") no-repeat 0 0;
}
#header #overview div.analysed button.finish_button p.stats {
  float: left;
  width: 120px;
  padding: 1px 0 0 0;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #666666;
  text-shadow: 0 1px white;
  text-align: left;
}
#header #overview div.analysed button.finish_button p.stats_progress {
  width: 101px;
}
#header #overview div.analysed button.finish_button p.done {
  float: right;
  width: 58px;
  padding: 1px 0 0 0;
  font: bold 12px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
#header #overview div.analysed button.finish_button p.generate {
  width: 70px;
  text-align: left;
}
#header #overview #settings {
  float: right;
  padding: 2px 0 20px 3px;
}
#header #overview #settings:hover #settings_popup {
  display: block;
}
#header #overview #settings #settings_popup {
  background-color: #CCC;
  display: none;
  top: 10px;
  position: absolute;
  left: 10px;
  padding: 10px;
  width: 203px;
  height: 77px;
  background: url("/static/img/bkg_settings_popup.png");
}
#header #overview #settings a {
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 1px #812B19;
  margin-top: 23px;
  display: inline-block;
  text-decoration: none;
  padding-left: 14px;
}
#header #overview #settings #logout {
  float: right;
  margin-right: 27px;
  background: url("/static/img/icons/logout.png") no-repeat 0px 1px;
}
#header #overview #settings #go_setting {
  margin-left: 17px;
  background: url("/static/img/icons/settings.png") no-repeat 0px 3px;
}
#header #overview #settings_sep {
  float: right;
}
#header #overview .conf_dialog {
  /*#confirmation_dialog {*/
  width: 208px;
  height: 114px;
  padding: 30px 20px 20px 20px;
  position: relative;
  top: 0px;
  left: -23px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  background: url("/static/img/confirmation_bkg.png");
  z-index: 22;
}
#header #overview .conf_dialog button {
  padding: 11px 12px;
  border: 1px solid #999999;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(white), to(#cccccc));
  font: bold 12px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
#header #overview .conf_dialog button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#cccccc), to(#ebebeb));
}
#header #overview .conf_dialog a {
  color: #EA462C;
  float: right;
  font: normal 13px "Arial", "Helvetica", Sans-Serif;
  padding-top: 10px;
  display: inline-block;
}
#header #overview .conf_dialog h3 {
  width: 100%;
  padding: 0 0 10px;
  font: bold 13px "Droid Sans";
  color: #333333;
  background: none;
  text-shadow: none;
}
#header #overview .conf_dialog p {
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
  padding: 0 0 15px;
}

.timerange_widget {
  position: absolute;
  top: 59px;
  left: 103px;
  width: 254px;
  height: 69px;
  background-color: #1F2123;
  border: 1px solid #000;
  border-radius: 3px;
}
.timerange_widget ul {
  /*width: 100%;*/
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.timerange_widget ul li {
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  float: left;
  width: 5px;
  margin-right: 2px;
}
.timerange_widget ul li:first-child {
  margin-left: 2px;
}
.timerange_widget ul li .bar {
  background: #404040;
}
.timerange_widget #colored_bars .def {
  background: #ff5126;
}
.timerange_widget #colored_bars .deg {
  background: #ffd426;
}
.timerange_widget .selection {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  width: 60px;
  height: 67px;
  left: 100px;
  border: 1px solid #FFF;
  border-bottom: 8px solid #FFF;
  overflow: hidden;
}
.timerange_widget .mover {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 28px;
  /*background: url(/static/img/icons/time_range_selector.png) -13px 0px;*/
}
.timerange_widget .mover img {
  position: relative;
  left: -5px;
}
.timerange_widget #right {
  left: 60px;
}
.timerange_widget #left {
  left: 20px;
}
.timerange_widget #left img {
  left: -6px;
}

body, html {
  height: 100%;
  overflow: hidden;
}

#workarea {
  position: absolute;
  width: 100%;
  top: 172px;
  bottom: 0;
}
#workarea .map_container {
  position: absolute;
  width: 100%;
  height: 100%;
}
#workarea .map_container .map {
  width: 100%;
  height: 100%;
}
#workarea .map_container div.layer_editor {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 21;
}
#workarea .map_container div.layer_editor .layer_raster {
  display: block;
  width: 22px;
  height: 23px;
  background: url("../img/layers_editor.png") no-repeat 0 0;
}
#workarea .map_container div.layer_editor .layer_google_maps {
  display: block;
  width: 22px;
  height: 22px;
  background: url("../img/layers_editor.png") no-repeat 0 -23px;
}
#workarea .map_container div.tiles_info {
  font: normal 13px "Arial", "Helvetica", Sans-Serif;
  bottom: 0;
  right: 100px;
  position: absolute;
  bottom: 0;
  bottom: -171px;
  width: 300px;
  height: 30px;
  background-color: #FFF;
  /*border: 3px solid rgba(0, 0, 0, 0.4);*/
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  /*display: none;*/
  z-index: 10;
}
#workarea .map_container div.tiles_info span {
  padding: 8px 0 0 8px;
  display: inline-block;
}
#workarea .map_container div.zoom_control {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 22px;
  height: 44px;
  z-index: 10;
}
#workarea .map_container div.zoom_control a {
  display: block;
  width: 22px;
  height: 22px;
  text-indent: -9999px;
  background: url("../img/icons/zoom.png") no-repeat 0 0;
}
#workarea .map_container div.zoom_control a.zoom_in:hover {
  background-position: 0 -22px;
}
#workarea .map_container div.zoom_control a.zoom_out {
  background-position: -22px 0;
}
#workarea .map_container div.zoom_control a.zoom_out:hover {
  background-position: -22px -22px;
}
#workarea .map_container div.crosshair {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}
#workarea .map_container div.crosshair img {
  margin-left: -7px;
  margin-top: -7px;
}

#layer_editor_dialog, #layer_editor_dialog_base {
  position: absolute;
  width: 253px;
  height: 254px;
  z-index: 20;
  display: none;
  background: url("../img/bkg_layer_editor_raster.png") no-repeat 0 0;
}
#layer_editor_dialog .jspVerticalBar, #layer_editor_dialog_base .jspVerticalBar {
  right: 13px;
}
#layer_editor_dialog #layer_top, #layer_editor_dialog_base #layer_top {
  position: absolute;
  top: 11px;
  left: 11px;
  z-index: 20;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-topleft: 3px;
}
#layer_editor_dialog #layer_bottom, #layer_editor_dialog_base #layer_bottom {
  position: absolute;
  top: 225px;
  left: 11px;
  z-index: 20;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
}
#layer_editor_dialog ul, #layer_editor_dialog_base ul {
  position: relative;
  top: 11px;
  left: 11px;
  height: 228px;
  width: 220px;
  overflow: hidden;
}
#layer_editor_dialog ul li, #layer_editor_dialog_base ul li {
  width: 188px;
  font-size: 13px;
  color: #626262;
  padding: 13.5px 0 13.5px 23px;
  /*margin-left: 18px;*/
  border-top: 1px solid #FBFBFB;
  border-bottom: 1px solid #CFCFCF;
  background: url("/static/img/tick_white.png") no-repeat 6px 16px;
}
#layer_editor_dialog ul li:first-child, #layer_editor_dialog_base ul li:first-child {
  border-top: none;
}
#layer_editor_dialog ul li:last-child, #layer_editor_dialog_base ul li:last-child {
  border-bottom: none;
}
#layer_editor_dialog ul li.selected, #layer_editor_dialog_base ul li.selected {
  background: url("/static/img/tick_white_selected.png") no-repeat 6px 16px;
}
#layer_editor_dialog ul li.moving, #layer_editor_dialog_base ul li.moving {
  background-color: #E7E7E7;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}
#layer_editor_dialog ul li:hover a, #layer_editor_dialog_base ul li:hover a {
  color: #333333;
}
#layer_editor_dialog ul li.sortable a, #layer_editor_dialog_base ul li.sortable a {
  background: url("/static/img/bkg_layers_drag.png") no-repeat 160px 5px;
}
#layer_editor_dialog ul li a, #layer_editor_dialog_base ul li a {
  display: block;
  width: 160px;
  padding-right: 20px;
  font: normal 13px "Helvetica Neue";
  color: #666666;
  text-shadow: 0 1px white;
  text-decoration: none;
}
#layer_editor_dialog ul li a:hover, #layer_editor_dialog_base ul li a:hover {
  color: #333333;
}

#layer_editor_dialog_base {
  background: url("../img/bkg_layer_editor_gmaps.png") no-repeat 0 0;
}
#layer_editor_dialog_base ul {
  top: 7px;
}
#layer_editor_dialog_base ul li {
  background: url("/static/img/tick_unselected.png") no-repeat 6px 16px;
}
#layer_editor_dialog_base ul li.selected {
  background: url("/static/img/tick_selected.png") no-repeat 6px 16px;
}

#loading_small {
  position: absolute;
  left: 100px;
  bottom: -171px;
  width: 168px;
  height: 30px;
  background-color: #FFF;
  /*border: 3px solid rgba(0, 0, 0, 0.4);*/
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  /*display: none;*/
  z-index: 10;
}
#loading_small span.loader {
  display: block;
  font: normal 13px "Arial", "Helvetica", Sans-Serif;
}
#loading_small span.loader img {
  float: left;
  padding: 5px 0 0  5px;
}
#loading_small span.loader p {
  padding: 5px 0 0 8px;
  display: inline-block;
}

#loading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 10;
}
#loading span.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -97px 0 0 -110.5px;
  width: 221px;
  height: 97px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-radius: 2px;
  background-color: #FFF;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
}
#loading span.loader h1 {
  text-transform: uppercase;
  margin: 16px 0 0 20px;
  font: bold 13px "Droid Sans";
  color: #333333;
}
#loading span.loader p {
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  margin: 4px 0 0 20px;
  color: #333333;
}
#loading span.loader img {
  margin: 10px 0 0 20px;
}

#error_dialog {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 10;
}
#error_dialog span.error_desc {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -170px 0 0 -160px;
  width: 320px;
  /*height: $h;*/
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-radius: 2px;
  background-color: #FFF;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
#error_dialog span.error_desc h1 {
  text-transform: uppercase;
  margin: 0px 0 0 0px;
  font: bold 13px "Droid Sans";
  color: #333333;
}
#error_dialog span.error_desc p {
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  margin: 4px 0 0 0px;
  color: #333333;
}
#error_dialog span.error_desc button {
  float: right;
  margin: 15px 0 0 0px;
  padding: 10px 10px;
  border: 1px solid #333333;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(white), to(#cccccc));
  font: bold 12px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
#error_dialog span.error_desc button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#cccccc), to(#ebebeb));
}

#compare_layout_1 {
  position: absolute;
  top: 0;
  width: 33.2%;
  right: 0;
  bottom: 0;
  border-left: 1px solid #666666;
  display: none;
}
#compare_layout_1 .compare_map {
  position: relative;
  width: 100%;
  height: 33.3%;
  border-bottom: 1px solid #333333;
}

#compare_layout_2 {
  position: absolute;
  top: 0;
  width: 50%;
  right: 0;
  bottom: 0;
  border-left: 1px solid #666666;
  display: none;
}
#compare_layout_2 .compare_map {
  position: relative;
  width: 100%;
  height: 100%;
}

#grid .finished {
  /*background-image: url('/static/img/bkg_cell.png');*/
}
#grid .cell .cell_wrapper_info {
  display: none;
  position: absolute;
  top: -4px;
  left: 56px;
  width: 142px;
  height: 49px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
  font-size: 12px;
  color: white;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#grid .cell .cell_wrapper_info span.arrow {
  position: absolute;
  top: 50%;
  left: -5px;
  width: 5px;
  height: 10px;
  margin: -5px 0 0 0;
  background: url("../img/cellinfo_arrow.png") no-repeat 0 0;
}
#grid .cell .cell_wrapper_info h3 {
  display: block;
  margin: 5px 0 0 9px;
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
  color: white;
  text-shadow: 0 1px black;
}
#grid .cell .cell_wrapper_info p {
  display: block;
  margin: 9px 0 0 9px;
  font: normal 11px "Helvetica Neue", Arial, Sans-Serif;
  color: rgba(255, 255, 255, 0.6);
}
#grid .cell.hover {
  cursor: pointer;
  border: 4px solid #333;
}

#header #tools #work_toolbar {
  display: inline-block;
  width: 200px;
}
#header #tools #work_toolbar #selection {
  width: 60px;
}
#header #tools #work_toolbar #selection li a#draw {
  width: 28px;
  height: 29px;
  text-indent: -9999px;
  border-right: 1px solid #3f3d43;
  border-left: 1px solid #1c1d20;
  width: 29px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-right: none;
  background: url(../img/icons/tool_icons_vis.png) no-repeat -30px 0px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(#36383c), to(#232427));
}
#header #tools #work_toolbar #selection li a#draw:hover {
  background: url(../img/icons/tool_icons_vis.png) no-repeat -30px 0px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #tools #work_toolbar #selection li a#draw.selected {
  background: url(../img/icons/tool_icons_vis.png) no-repeat -30px 0px, -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(#1a1b1e));
}
#header #title #topbar ul li#report {
  background-color: #39ac39;
  text-shadow: 0 1px #44d144;
}
#header #title #topbar ul li#report a {
  color: #133D13;
}
#header #title #topbar ul li#analysis {
  background: none;
  text-shadow: none;
}
#header #title #topbar ul li#analysis a {
  color: #FFF;
}
#header #date_range_select {
  display: inline-block;
  width: 200px;
  float: right;
  margin: 10px 190px 0 0;
  position: relative;
  padding: 10px;
}
#header #date_range_select a {
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
  color: white;
  text-shadow: 0 1px black;
  padding: 0 30px 3px 4px;
  text-decoration: none;
}
#header #date_range_select a#select {
  background: url("../img/icons/range.png") no-repeat right 0;
}
#header #date_range_select:hover {
  background: url("../img/bkg_time_range_over.png") no-repeat -4px -7px;
}
#header #date_range_select:hover #range_selector {
  /* don't use display:none/block combo here
   * jquery offset does not work with hidden elements
   * so this hack solves the problem */
  visibility: visible;
}
#header #date_range_select #range_selector {
  background: url("../img/bkg_time_range.png") no-repeat -2px 39px;
  width: 378px;
  height: 148px;
  top: -11px;
  left: -215px;
  /*display:none;*/
  /* don't use display:none/block combo here
  * jquery offset does not work with hidden elements
  * so this hack solves the problem */
  visibility: hidden;
  position: absolute;
}
#header #date_range_select #range_selector #range_info {
  position: absolute;
  top: 60px;
  left: 20px;
}
#header #date_range_select #range_selector #range_info h3 {
  font: normal 10px "Helvetica Neue", Arial, Sans-Serif;
  color: #777;
  text-transform: uppercase;
  text-shadow: #000 0px 1px 0px;
  margin-bottom: 2px;
}
#header #date_range_select #range_selector #range_info input {
  background-color: #404040;
  width: 65px;
  border-radius: 2px;
  border: 1px solid #000;
  font: normal 11px "Helvetica Neue", Arial, Sans-Serif;
  color: #CCC;
  padding: 2px 3px;
  margin-bottom: 6px;
}
#header #overview {
  background: -webkit-gradient(linear, left top, left bottom, from(#39ad39), to(#2d872c));
}
#header #overview h3 {
  background: url("../img/icons/padlock.png") no-repeat 0 2px;
  color: #c4e5c4;
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
  text-shadow: #133D13 0px 1px 0px;
}
#header #overview div.info {
  margin-top: 35px;
}
#header #overview div.info p {
  color: #133D13;
  text-shadow: 0 1px #47DE44;
  background: url("../img/icons/marker_overview_green.png") no-repeat 0 2px;
}
#header #overview div.analysed button.finish_button {
  box-shadow: 0 1px #3cb83a;
}
#header #overview div.analysed p {
  padding: 1px 0 0 0;
  font: bold 12px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
  text-shadow: #FFF 0px 1px 0px;
  text-transform: uppercase;
  text-align: center;
}
#header #overview #settings #settings_popup {
  background: url("/static/img/bkg_settings_popup_vis.png");
  height: 59px;
}
#header #overview #settings a {
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 1px #277327;
}
#header #overview #settings #logout {
  float: left;
  margin-left: 0px;
  background: url("/static/img/icons/logout_vis.png") no-repeat 0px 1px;
}

#report_dialog_outer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

#report_dialog {
  z-index: 201;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3);
  -webkit-border-top-right-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  padding: 20px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(white), to(#f3f3f3));
  border-bottom: 3px solid #d8d8d8;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100.5px 0 0 -174px;
  width: 348px;
  height: 201px;
}
#report_dialog a.close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 11px;
  height: 11px;
  text-indent: -9999px;
  background: url("../img/close_notes.png") no-repeat 0 0;
}
#report_dialog a.close:hover {
  background-position: 0 -12px;
}
#report_dialog h1 {
  font: bold 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#report_dialog h1 span {
  color: #009933;
  position: relative;
  display: inline-block;
}
#report_dialog h1 span #selected {
  text-decoration: underline;
  background: url("../img/icons/drop_down_region.png") no-repeat right 5px;
  padding-right: 10px;
}
#report_dialog h1 span:hover #region_selector {
  display: block;
}
#report_dialog h1 span #region_selector {
  border-radius: 2px;
  display: none;
  position: absolute;
  width: 180px;
  /*height: 74px;*/
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(white), to(#f3f3f3));
  border: 1px solid #999999;
  padding: 5px 8px;
  left: -9px;
  top: -9px;
}
#report_dialog h1 span #region_selector li a {
  color: #333;
  display: block;
  text-decoration: none;
  padding: 3px 0;
  text-decoration: none;
}
#report_dialog h1 span #region_selector li:first-child a {
  color: #999;
}
#report_dialog p {
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  color: #999;
  padding-bottom: 20px;
  border-bottom: 1px solid #DDD;
}
#report_dialog #export_types {
  margin-top: 20px;
}
#report_dialog #export_types li {
  color: #333;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  padding: 3px 0 3px 20px;
  background: url("/static/img/tick_unselected.png") no-repeat 0px 6px;
}
#report_dialog #export_types li span {
  font: normal 11px "Helvetica Neue", Arial, Sans-Serif;
  color: #999;
  margin-left: 4px;
}
#report_dialog #export_types li.selected {
  background: url("/static/img/tick_selected.png") no-repeat 0px 6px;
}
#report_dialog button {
  position: absolute;
  bottom: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  font: bold 12px "Helvetica Neue", Arial, Sans-Serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px white;
  padding: 10px 10px;
  border: 1px solid #777;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(white), to(#e6e6e6));
}
#report_dialog button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#e6e6e6), to(white));
}

#searchbox {
  position: absolute;
  left: 20px;
  top: 80px;
}
#searchbox #open_close_trigger {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#searchbox #small {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 253px;
  height: 58px;
  background: url("../img/bkg_searchbox_small.png") no-repeat -6px -6px;
}
#searchbox #small.big {
  height: 266px;
  /*background:url('../img/bkg_searchbox.png') no-repeat -6px -6px;*/
}
#searchbox #small input {
  margin: 10px 0 0 32px;
  width: 191px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px 3px;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
}
#searchbox #small #hack {
  position: absolute;
  margin-left: 22px;
  margin-top: 5px;
  width: 217px;
  height: 3px;
  overflow: hidden;
  border-bottom: 1px solid #555;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#e9e9e9), to(#d5d5d5));
}
#searchbox #small ul {
  position: relative;
  margin-left: 23px;
  margin-top: 10px;
  width: 217px;
  height: 206px;
  overflow: hidden;
  border-radius: 3px;
}
#searchbox #small ul li {
  width: 206px;
  font-size: 13px;
  color: #626262;
  padding: 13px 0 13px 10px;
  /*margin-left: 18px;*/
  border-top: 1px solid #FBFBFB;
  border-bottom: 1px solid #CFCFCF;
}
#searchbox #small ul li:first-child {
  padding-top: 0;
  padding-bottom: 0;
  border-top: none;
}
#searchbox #small ul li.selected {
  background: url("/static/img/tick_white_selected.png") no-repeat 6px 16px;
}
#searchbox #small ul li:hover a {
  color: #333333;
}
#searchbox #small ul li a {
  display: block;
  width: 160px;
  padding-right: 20px;
  font: normal 13px "Helvetica Neue";
  color: #666666;
  text-shadow: 0 1px white;
  text-decoration: none;
}
#searchbox #small ul li a:hover {
  color: #333333;
}

html {
  background: url("../img/login_pattern.jpg") repeat 0 0 !important;
}

.map_container #popup {
  position: absolute;
  width: 213px;
  height: 172px;
  top: 0;
  display: none;
  z-index: 100;
  background: url("../img/vis_bkg_popup.png") no-repeat 0 0;
}
.map_container #popup #popup_content {
  position: relative;
  padding: 16px;
  font: normal 13px "Helvetica Neue", Arial, Sans-Serif;
  text-shadow: 0 1px #FFF;
  color: #666666;
}
.map_container #popup #popup_content #popup_close {
  display: block;
  position: absolute;
  top: 8px;
  left: 185px;
}
.map_container #popup #popup_content .area_metric {
  text-transform: uppercase;
  font-size: 9px;
  margin-left: 3px;
}
.map_container #popup #popup_content h1 {
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.map_container #popup #popup_content .area {
  text-transform: uppercase;
}
.map_container #popup #popup_content #area_report {
  margin-top: 17px;
}
.map_container #popup #popup_content #area_report .area_metric {
  font-weight: bold;
}
.map_container #popup #popup_content #area_report #deg {
  width: 50%;
  float: left;
}
.map_container #popup #popup_content #area_report #def {
  width: 50%;
  float: right;
}
.map_container #popup #popup_content #area_report .qty {
  font-size: 18px;
  font-weight: bold;
}
.map_container #popup #popup_content #area_report .type {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 5px;
}
.map_container #popup #popup_content button {
  float: right;
  margin: 17px 8px 0 0px;
  padding: 5px 10px;
  border: 1px solid #AAA;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(white), to(#eeeeee));
  font: bold 11px "Helvetica Neue", Arial, Sans-Serif;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

#layer_editor_dialog ul li.switch, #layer_editor_dialog_base ul li.switch {
  background: url("../img/icons/switch_disabled.png") no-repeat 6px 10px;
  padding-left: 50px;
  width: 161px;
}
#layer_editor_dialog ul li.switch a, #layer_editor_dialog_base ul li.switch a {
  width: 133px;
  background: url("/static/img/bkg_layers_drag.png") no-repeat 133px 5px !important;
}
#layer_editor_dialog ul li.on, #layer_editor_dialog_base ul li.on {
  background: url("../img/icons/switch_enabled.png") no-repeat 6px 10px;
}
