
<div id="header">

    <div id="title">

        <div class="content ">
            <div id="intro">
                <h1>Deforestation Validation Tool</h1>
                <h2><small>powered by</small> <a href="http://www.google.com">google</a> Earth Engine</h2>
            </div>

            <div id="overview">
              <h3 id="name">{{ user.nickname() }}</h3>
              <p id="cells">12 cells this month</p>
              <div class="info">
                <p>Cell JG.65 - <a href="#go_back">go back</a></p>
                <a href="#notes" class="notes">2 NOTES</a>
              </div>
              <div class="analysed">
                <button id="done">
                  <p class="stats">65 km<sup>2</sup> analysed</p>
                  <span class="separator"></span>
                  <p class="done">done</p>
                </button>
              </div>
           </div>
        </div>  <!-- content -->
    </div>

    <div id="tools">
        <div class="content">

            <div id="range_select">
              <p>Report: <strong>10/2011</strong></p>
              <a href="#download" id="select_range">reports</a>
            </div> <!-- range_select -->

            <div id="work_toolbar" class="hidden">

                <ul id="selection">
                    <li><a class="button" href="#" id="auto">auto</a></li>
                    <li><a class="button" href="#" id="draw">draw</a></li>
                    <li><a class="button" href="#" id="remove">remove</a></li>
                    <li><a class="button" href="#" id="edit">edit</a></li>
                </ul>

                <ul id="polytype">
                    <li><a class="button" href="#" id="def">def</a></li>
                    <li><a class="button" href="#" id="deg">deg</a></li>
                </ul>

                <ul id="maptools">
                    <li id="compare_li">
                      <a href="#compare" id="compare">Compare View</a>
                      <div id="compare_wrapper">
                        <a href="#compare" class="compare">Compare View</a>
                        <ul id="compare_buttons">
                          <li><a id="one" href="#one" class="button one">one</a>
                          <li><a id="two" href="#two" class="button two">two</a>
                          <li><a id="four" href="#four" class="button four">four</a>
                        </ul>
                      </div>
                    </li>
                    <li id="range">
                        <a href="#" id="ndfirange">Range Settings</a>
                        <div id="slider_wrapper">
                            <div id="ndfi_slider">
                              <span class="hack_red"></span>
                            </div>
                        </div>
                    </li>
                </ul>

            </div> <!-- work_toolbar -->

        </div> <!-- content -->
    </div> <!-- tools -->

</div>
