
<div id="header">

    <div id="title">

        <div id="topbar">
                <div class="content ">
                    <div id="google_powered">
                        <div style="color: #666;font-family: arial;font-size: 11px;white-space: nowrap;">Powered By <span style="font-size: 12px;font-weight: bold;"><a href="http://google.org/earthengine" style="color:#444;text-decoration:none;"><img src="http://www.google.com/images/logos/google_logo_powered_by.png" style="border:none;vertical-align:middle;" /> Earth Engine</a></div>
                    </div>

                    <ul id="tabs">
                        <li id="analysis"><a href="/analysis">analysis</a></li>
                        <li id="report"><a href="/vis">report</a></li>
                    </ul>
                </div>
        </div>

        <div class="content ">
            <div id="intro">
                <a href="#cell/0/0/0"><h1>Deforestation Alert System</h1></a>
            </div>
            <div id="overview" class="hidden">
              <div id="settings">
                  <img id="settings" src="/static/img/arrow_login.png"></img>
                  <div id="settings_popup">
                      <h3 id="name">{{ user.user.nickname()[:26] }}</h3>
                      <p id="cells"></p>
                      <div id="sep"></div>
                      {% if user.is_admin() %}
                      <a id="go_setting" href="#">Settings</a>
                      {% endif %}
                      <a id="logout" href="{{logout_url}}">Log out</a>
                  </div>
              </div>
              <img id="settings_sep" src="/static/img/settings_separator.png"></img>
              <h3 id="name">{{ user.user.nickname()[:26] }}</h3>
              <p id="cells"></p>
              <div class="info">
                <p><span id="current_cell">Global map</span><a id="go_back" href="#go_back">go back</a></p>
                <a href="#notes" class="notes">0 NOTES</a>
              </div>

              <div id="cell_analisys" class="analysed">
                <button id="done" class="finish_button">
                  <p class="stats" id="ndfi_change_value"></p>
                  <span class="separator"></span>
                  <p class="done">done</p>
                </button>
              </div>

              <div id="analysed_global_progress">
                <div id="bar">
                    <div id="progress"></div>
                    <div id="progress_number"></div>
                </div>
              </div>

              <!-- next div is shown when all cells are analysed -->
              <div id="analysed_global_final" class="analysed">
                <button id="report_done" class="finish_button">
                  <p class="stats stats_progress"></p>
                  <span class="separator"></span>
                  <p class="done generate">generate</p>
                </button>
              </div>

              <div id="confirmation_dialog" class="conf_dialog">
                {% if user.is_admin() %}
                <h3>Are you sure?</h3>
                <p>Remember that once it has been published it can't be reopened</p>
                <button id="confirm">Confirm</button>
                <a id="cancel" href="#cancel">cancel</a>
                {% else %}
                <h3>Report generation</h3>
                <p>Only administrators can publish deforestation maps, please contact one.</p>
                <a id="cancel" href="#cancel">cancel</a>
                {% endif %}
              </div> <!-- confirmation_dialog -->

              <div id="done_confirmation_dialog" class="conf_dialog">
                <h3>Are you sure?</h3>
                <p>Remember that once it has been set as done it can't be reopened</p>
                <button id="confirm_done">Confirm</button>
                <a id="cancel_done" href="#cancel">cancel</a>
              </div> <!-- done_confirmation_dialog -->

           </div> <!-- overview -->
        </div>  <!-- content -->
    </div>

    <div id="tools">
        <div class="content">

            <div id="range_select">
              <p>Ranges analyzed: <strong id="report-date"></strong> - <strong id="report-date-end"></strong></p>
              <!-- <a href="#download" id="select_range">reports</a>  -->
            </div> <!-- range_select -->

            <div id="work_toolbar" class="hidden">

                <ul id="selection">
                    <li><a class="button" href="#" id="edit">edit</a></li>
                    <li><a class="button" href="#" id="auto">auto</a></li>
                    <li><a class="button" href="#" id="draw">draw</a></li>
                    <li><a class="button" href="#" id="remove">remove</a></li>
                </ul>

                <ul id="polytype">
                    <li><a class="button" href="#" id="def">def</a></li>
                    <li><a class="button" href="#" id="deg">deg</a></li>
                </ul>

                <ul id="maptools">
                    <li id="compare_li">
                      <a href="#compare" id="compare">Compare View</a>
                      <div id="compare_wrapper">
                        <ul id="compare_buttons">
                          <li><a id="one" href="#one" class="button one">one</a>
                          <li><a id="two" href="#two" class="button two">two</a>
                          <li><a id="four" href="#four" class="button four">four</a>
                        </ul>
                      </div>
                    </li>
                    <li class="sep">
                        <img src="/static/img/slider_separator.png"></img>
                    </li>
                    <li id="range">
                        <a href="#" id="ndfirange">NDFI settings</a>
                        <div id="slider_wrapper">
                            <h3 id="ndfi_text">Ranges value</h3>
                            <div id="ndfi_slider">
                              <span class="hack_red"></span>
                            </div>
                            <h3 id="ndfi_visibility_text">NDFI visibility</h3>
                            <div id="ndfi_visibility">
                                <div class="left">
                                    <div id="degradation" class="class_selector check_selected">degradation</div>
                                    <div id="deforestation" class="class_selector check_selected">deforestation</div>
                                    <div id="forest" class="class_selector check_selected">forest</div>
                                </div>
                                <div class="right">
                                    <div id="deforested" class="class_selector check_selected">old deforestation</div>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>

            </div> <!-- work_toolbar -->

        </div> <!-- content -->
    </div> <!-- tools -->

</div>
