
<div id="compare_layout_2" class="hidden">
  <div class="map_container" id="map_half">
      <div class="map"></div>
      <!-- zoom-control -->
      <div class="zoom_control">
        <a href="#zoom_in" class="zoom_in">zoom_in</a>
        <a href="#zoom_out" class="zoom_out">zoom_out</a>
      </div>
      <!-- end zoom control -->
    <div class="layer_editor">
        <a href="#" class="layer_raster"></a>
        <a href="#" class="layer_google_maps"></a>
        <!--<img src="/static/img/layers_editor.png"></img>-->
    </div>
    <div class="crosshair">
        <img src="/static/img/icons/crosshair_map.png" />
    </div>
  </div>
</div>
