<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>imazon</title>
        {% block head %}
        {% endblock %}
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700&v2' rel='stylesheet' type='text/css'>
    </head>

    <body class="{% block login %}{% endblock %}">
        {% block body %}
        {% endblock %}

          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
          <script>window.jQuery || document.write("<script src='js/libs/jquery-1.6.2.min.js'>\x3C/script>")</script>

          <script src="{{url_for('static',filename='js/libs/json2.js')}}" type="text/javascript" charset="utf-8"></script>
          <script src="{{url_for('static',filename='js/libs/underscore-min.js')}}" type="text/javascript" charset="utf-8"></script>
          <script src="{{url_for('static',filename='js/libs/backbone.js')}}" type="text/javascript" charset="utf-8"></script>
          <!--<script src="{{url_for('static',filename='js/libs/backbone-localstorage.js')}}" type="text/javascript" charset="utf-8"></script> -->

        {% block js_files %}
        {% endblock %}
        <script>
            {% block js %}
            {% endblock %}
        </script>

        <article class="mamufas" style="display:none">
          <div class="notes">
            <a href="#">close</a>
            <h3>3 Notes</h3>
            <ul>
              <li>
                <p class="comment_text">Review accurattely the up/right corner. I suspect there is something wrong with the degradation thershold</p>
                <span class="comment_info">
                  <h5>Lewis Hamilton</h5>
                  <p class="ago">2 days ago</p>
                </span>
              </li>
            </ul>
            <form>
              <div class="left">
                <textarea name="comment"></textarea>
                <a href="#close_notes" class="close_notes">close the notes</a>
                <a href="#add_note" class="add_note">ADD NOTE</a>
              </div>
              <div class="right">
                <h5>You</h5>
              </div>
            </form>
          </div>
        </article>

    </body>

</html>
