{% extends "base.html" %}

{% block  head %}
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block js_files %}
    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{url_for("static", filename="js/canvas_tile_layer.js")}}"></script>
    <script type="text/javascript" src="{{url_for("static", filename="js/pixel_ops.js")}}"></script>
    <script src="{{url_for("static", filename="js/projector.js")}}"></script>
    <script src="{{url_for("static", filename="js/grid_overlay.js")}}"></script>
    <script src="{{url_for("static", filename="js/kml.js")}}"></script>
    <script src="{{url_for("static", filename="js/app.js")}}"></script>
    -->
  <script src="{{url_for('static',filename='js/helpers.js')}}"></script> 

  <!-- backbone application -->
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="{{url_for("static", filename="js/projector.js")}}"></script>

  <script src="{{url_for('static',filename='js/models/mapper.js')}}"></script>
  <!-- map -->
  <script src="{{url_for('static',filename='js/models/map.js')}}"></script>
  <script src="{{url_for('static',filename='js/controllers/map.js')}}"></script> 

  <!-- grid -->
  <script src="{{url_for('static',filename='js/models/grid.js')}}"></script> 
  <script src="{{url_for('static',filename='js/controllers/grid.js')}}"></script> 

  <!-- app -->
  <script src="{{url_for('static',filename='js/app.js')}}"></script>

{% endblock %}

{% block js %}
    $(document).ready(function() {
        console.log("=== Init ");
    });
{% endblock %}

{% block body %}


    {% include "_header.html" %}
    <div id="workarea">
        <div id="map"></div>
        <div id="grid"></div>
    </div>
    <!--
    <div id="loading" class="hidden">
        <div id="sending">
            <p>Sending</p>
            <img src="/static/img/loading.gif"></img>
        </div>
        <div id="msg"></div>
    </div>

    <div id="settings" class="hidden">
            <h3>settings</h3>
            <p>hole detection sensibility</p>
            <p class="small">higher value makes small holes are detected<p>
            <div id="inner_slider"></div>
            <div id="inner_slider_value">8</div>
            <a id="close_settings" href="#" onclick="$(this).parent().fadeOut()">close</a>
    </div>

    <div id="toolbar">
        <div id="map_selection_wrapper">
            <a class="button" id="map_selection" href="#" onclick="$('#settings').fadeIn()">settings</a>
        </div>
        <div id="slider_wrapper">
            <div id="slider"></div>
            <div id="slider_values">60-80</div>
        </div>
        <div id="polygon_tools">
            <a class="button selected" id="degradation" href="#">degradation</a>
            <a class="button" id="deforestation" href="#">deforestation</a>
        </div>
        <div id="actions">
            <a id="done" class="button" href="#">done</a>
        </div>
    </div>
    <div id="notes"></div>
    <canvas id="offscreen_canvas"></canvas>
    -->

{% endblock %}
