{% extends "base.html" %}

{% block  head %}
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block js_files %}


{% endblock %}

{% block js %}
{% endblock %}

{% block login %}login{% endblock %}

{% block body %}

  <article class="login">
    <h1>Deforestation Validation Tool</h1>
    <h2><small>powered by</small> <a href="http://www.google.com">google</a> Earth Engine</h2>
    <p>For using this application you need to sign in with your google account. Just press the button below and start contributing</p>
    <a class="sign_in" href="{{login_url}}">Sign in</a>
  </article>

{% endblock %}
