
<div id="header">

    <div id="title">
        
        <div id="topbar">
                <div class="content ">
                    <ul id="tabs">
                        <li id="report"><a href="/vis">report</a></li>
                        <li id="analysis"><a href="/">analysis</a></li>
                    </ul>
                </div>
        </div>

        <div class="content ">

            <div id="intro">
                <a href="/vis"><h1>Deforestation Validation Tool</h1></a>
            </div>

            <div id="overview" class="">
              <div id="settings">
                  <img id="settings" src="/static/img/arrow_login.png"></img>
                  <div id="settings_popup">
                      <h3 id="name">{{ user.user.nickname()[:26] }}</h3>
                      <p id="cells"></p>
                      <div id="sep"></div>
                      {% if user.is_admin() %}
                      <a id="go_setting" href="#">Settings</a>
                      {% endif %}
                      <a id="logout" href="{{logout_url}}">Log out</a>
                  </div>
              </div>
              <img id="settings_sep" src="/static/img/settings_separator.png"></img>
              <h3 id="name">{{ user.user.nickname()[:26] }}</h3>
              <div class="info">
                <p><span id="current_cell">Global map</span>
              </div>

              <div id="analysed_global_final" class="analysed">
                <button id="report_done" class="finish_button">
                  <p>download report</p>
                </button>
              </div>

           </div> <!-- overview -->
        </div>  <!-- content -->
    </div>

    <div id="tools">
        <div class="content">


            <div id="work_toolbar" class="hidden">
                <ul id="selection">
                    <li><a class="button" href="#" id="edit">edit</a></li>
                    <li><a class="button" href="#" id="draw">draw</a></li>
                </ul>
            </div> <!-- work_toolbar -->
            <div id="date_range_select">
                <a href="#" id="select">Temporal range</a>
                <div id="range_selector">
                    <div id="range_info">
                        <h3>from</h3>
                        <input id="report_from" type='text' />
                        <h3>to</h3>
                        <input id="report_to" type='text' />
                    </div>
                    {% include "vis/_time_range.html" %}
                </div>
            </div> <!-- range_select -->

        </div> <!-- content -->
    </div> <!-- tools -->

</div>
