 function initial_data() {
    window.app.user = new User({{user.as_json()|safe}});
    console.log("=== Initial data loaded == ");
    var available_maps = [
        {
          id: '2',
          type: 'fusion_tables',
          table: '304837',
          select: 'geometry',
          description: 'Municipalities',
          color: '#FF0000'
        },
        {
          id: '3',
          type: 'fusion_tables',
          table: '304268',
          select: 'geometry',
          description: 'States',
          color: '#FF0000'
        },
        {
          id: '4',
          type: 'fusion_tables',
          table: '322554',
          select: 'geometry',
          description: 'Federal Conservation',
          color: '#FF0000'
        },
        {
          id: '5',
          type: 'fusion_tables',
          table: '322660',
          select: 'geometry',
          description: 'State Conservation',
          color: '#FF0000'
        },
        {
          id: '1',
          type: 'fusion_tables',
          table: '1205151',
          select: 'geometry',
          description: 'Legal Amazon',
          color: '#FF0000'
        },
        {
          id: '6',
          type: 'fusion_tables',
          table: '1089491',
          select: 'geometry',
          description: 'polygons',
          color: '#FF0000'
        }

     ];

     window.app.available_layers.reset(available_maps);

    }

