 function initial_data() {
    window.app.user = new User({{user.as_json()|safe}});
    console.log("=== Initial data loaded == ");
    var available_maps = [
        {
          id: '2',
          type: 'fusion_tables',
          table: '1560866',
          select: 'geometry',
          description: 'Municipalities',
          color: '#FF0000'
        },
        {
          id: '3',
          type: 'fusion_tables',
          table: '1560836',
          select: 'geometry',
          description: 'States',
          color: '#FF0000'
        },
        {
          id: '4',
          type: 'fusion_tables',
          table: '1568452',
          select: 'geometry',
          description: 'Federal Conservation',
          color: '#FF0000'
        },
        {
          id: '5',
          type: 'fusion_tables',
          table: '1568376',
          select: 'geometry',
          description: 'State Conservation',
          color: '#FF0000'
        },
        {
          id: '7',
          type: 'fusion_tables',
          table: '1630610',
          select: 'geometry',
          description: 'Indigenous Land',
          color: '#FF0000'
        },

        {
          id: '1',
          type: 'fusion_tables',
          table: '1205151',
          select: 'geometry',
          description: 'Legal Amazon',
          color: '#FF0000'
        },
        {
          id: '6',
          type: 'fusion_tables',
          table: '{{polygons_table}}',
          select: 'geometry',
          description: 'deforestation',
          color: '#FF0000'
        },
        {
              id: '6',
              type: 'google_maps',
              map_id: 'TERRAIN',
              description: 'Terrain',
              enabled: true
        },
        {
              id: '7',
              type: 'google_maps',
              map_id: 'SATELLITE',
              description: 'Satellite'
        },
        {
              id: '9',
              type: 'google_maps',
              map_id: 'ROADMAP',
              description: 'Roadmap'
        },
        {
              id: '8',
              type: 'google_maps',
              map_id: 'HYBRID',
              description: 'Hybrid',
        }

     ];

     window.app.available_layers.reset(available_maps);
     window.app.reports.reset({{reports|safe}});

    }

