
<div id="report_dialog_outer">
    <div id="report_dialog">
        <h1>Generate report on <span>
            <div class="region_selector">
                <ul>
                    <li>polítical divisions</li>
                    <li>polítical divisions</li>
                    <li>polítical divisions</li>
                    <li>polítical divisions</li>
                </ul>
            </div>
             polítical divisions
            </span></h1>
        <p>From <span id="date_from">10/23/2010</span> to <span id="date_to">10/23/2011</span></p>

        <ul id="export_types">
            <li>Datasheet report<span>[XLS]</span></li>
            <li>Map report<span>[PNG]</span></li>
            <li>Combined report<span>[PNG]</span></li>
        </ul>
        <button>download</button>
    </div>
</div>
