

<script type="text/template" id="report-bar">
    <div style="height: <% print(100 - deg_percent - def_percent); %>%"></div>
        <div class="bar deg" style="height: <%=deg_percent%>%"></div>
        <div class="bar def" style="height: <%=def_percent%>%"></div>
</script>

<div id="timerange" class="timerange_widget">
    <ul id="bars">
    </ul>

    <div class="selection">
        <ul id="colored_bars">
        </ul>
    </div>

    <div id="right" class="mover">
        <img src="/static/img/icons/time_range_selector.png" />
    </div>
    <div id="left" class="mover">
        <img src="/static/img/icons/time_range_selector.png" />
    </div>
</div>
