

<script type="text/template" id="report-bar">
        <div style="height: 30%"></div>
        <div class="bar" style="height: 70%"></div>
</script>

<div id="timerange" class="timerange_widget">
    <ul id="bars">
    </ul>

    <div class="selection">
        <ul id="colored_bars">
        </ul>
    </div>

    <div id="right" class="mover">
        <img src="/static/img/icons/time_range_selector.png" />
    </div>
    <div id="left" class="mover">
        <img src="/static/img/icons/time_range_selector.png" />
    </div>
</div>
