{% extends "base.html" %}

{% block  head %}
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='css/vis.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block js_files %}

  <script src="{{url_for('static',filename='js/helpers.js')}}"></script>

  <!-- backbone application -->
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="{{url_for("static", filename="js/projector.js")}}"></script>
  <script src="{{url_for("static", filename="js/libs/jquery.mousewheel.js")}}"></script>
  <script src="{{url_for("static", filename="js/libs/jquery.scrollpane.js")}}"></script>
  <!--<script src="{{url_for("static", filename="js/libs/ahpi.imgload.js")}}"></script>-->
  <script src="{{url_for("static", filename="js/libs/pretty.js")}}"></script> <!-- for dates -->

  <!-- pixel operations library -->
  <!--<script type="text/javascript" src="{{url_for("static", filename="js/pixel_ops.js")}}"></script>-->

  <!-- polygon simplfier -->
  <!--<script src="{{url_for("static", filename="js/libs/douglaspeuker.js")}}"></script>-->

  <!-- kml utils -->
  <script src="{{url_for("static", filename="js/kml.js")}}"></script>

  <!-- projection helper -->
  <script src="{{url_for('static',filename='js/models/mapper.js')}}"></script>
   
  <!-- error dialog -->
  <script src="{{url_for('static',filename='js/controllers/error.js')}}"></script>
  <!-- report -->
  <!--<script src="{{url_for("static", filename="js/models/report.js")}}"></script>-->

  <!-- map layers -->
  <!--<script src="{{url_for("static", filename="js/controllers/draw_tool.js")}}"></script>-->
  <script src="{{url_for("static", filename="js/models/layers.js")}}"></script>
  <script src="{{url_for("static", filename="js/controllers/layers.js")}}"></script>
  <script src="{{url_for("static", filename="js/canvas_tile_layer.js")}}"></script>
  <!--<script src="{{url_for('static',filename='js/models/map_layer.js')}}"></script>-->
  <!--<script src="{{url_for('static',filename='js/controllers/map_layer.js')}}"></script>-->

  <!-- map -->
  <script src="{{url_for('static',filename='js/controllers/map.js')}}"></script>

  <!-- polygon -->
  <!--<script src="{{url_for('static',filename='js/models/polygon.js')}}"></script>-->
  <!--<script src="{{url_for('static',filename='js/controllers/polygon.js')}}"></script>-->

  <!-- grid -->
  <!--<script src="{{url_for('static',filename='js/models/grid.js')}}"></script>-->
  <!--<script src="{{url_for('static',filename='js/controllers/grid.js')}}"></script>-->

  <!-- toolbar -->
  <!--<script src="{{url_for('static',filename='js/controllers/toolbar.js')}}"></script>-->
  
  <!-- notes -->
  <!--<script src="{{url_for('static',filename='js/models/notes.js')}}"></script>-->
  <!--<script src="{{url_for('static',filename='js/controllers/notes.js')}}"></script>-->

  <!-- user -->
  <script src="{{url_for('static',filename='js/models/user.js')}}"></script>

  <!-- loading -->
  <script src="{{url_for('static',filename='js/controllers/loader.js')}}"></script>

  <!-- app -->
  <script src="{{url_for('static',filename='js/vis.js')}}"></script>

{% endblock %}

{% block js %}
    {% include "vis/_initial_data.html" %}
    $(document).ready(function() {
        window.app = new Vizzualization();
        initial_data();
    });
{% endblock %}

{% block body %}

    {% include "vis/_header.html" %}

    <div id="workarea">
        <!-- map -->
        <div class="map_container" id="main_map">
            <div class="map"></div>
            <!-- zoom-control -->
            <div class="zoom_control">
              <a href="#zoom_in" class="zoom_in">zoom_in</a>
              <a href="#zoom_out" class="zoom_out">zoom_out</a>
            </div>
            <!-- end zoom control -->
            <div class="layer_editor"><img src="/static/img/layers_editor.png"></img></div>
            <div class="tiles_info"><span></span></div>
        </div>

        <div id="loading">
            <span class="loader">
               <h1>preparing workspace</h1>
               <p>Loading cells...</p>
               <img src="/static/img/loading.gif"/>
            </span>
        </div>

        <div id="loading_small">
            <span class="loader">
                <img src="/static/img/ajax-loader-small.gif"/>
                <p>performing operation</p>
            </span>
        </div>

        <div id="error_dialog">
            <span class="error_desc">
               <h1>There has been a problem</h1>
               <p id="error_text">
                    Some problem has occurred sorry.
                </p>
               <button id="ok">ok</button>
               <!--<a id="cancel" href="#cancel">cancel</a>-->
            </span>
        </div>
     </div> <!-- workarea -->

       {% include "vis/_templates.html" %}

{% endblock %}
